<template>
  <header :class="{ 'scrolled-nav': scrolledNav }">
    <nav style="padding: 10px;">
      <!-- <div style="z-index: 99; position: fixed; top: 0;"> -->
        <div class="branding">
          <a href="">SIPRD</a>
        </div>
      <ul v-show="!mobile" class="navigation">
        <li>
          <router-link class="link" :to="{ name: 'KarilList' }"
            >Daftar Karya Ilmiah</router-link
          >
        </li>
        <li v-if="isAdmin">
          <router-link class="link" :to="{ name: 'AccountList' }">Daftar Akun</router-link>
        </li>
        <li>
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                v-bind="attrs"
                v-on="on"
              >
                {{username}} ({{currentUser.role}})
              </v-btn>
            </template>
            <v-list>
              <v-list-item v-if="currentUser.role === 'Dosen'">
                <v-btn text v-on:click="panduanDosen"> Panduan Dosen </v-btn>
              </v-list-item>
              <v-list-item v-if="currentUser.role === 'Reviewer'">
                <v-btn text v-on:click="panduanReviewer"> Panduan Reviewer </v-btn>
              </v-list-item>
              <v-list-item v-if="currentUser.role === 'SDM PT'">
                <v-btn text v-on:click="panduanSDMPT"> Panduan SDM PT </v-btn>
              </v-list-item>
              <v-list-item v-if="currentUser.role === 'Admin'">
                <v-btn text v-on:click="panduanAdmin"> Panduan Admin </v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn text v-on:click="editUser"> Edit Akun </v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn text v-on:click="changePassword"> Ganti Password </v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn text class="red--text" v-on:click="logoutUser"> Logout </v-btn>
              </v-list-item>
            </v-list>
          </v-menu>
        </li>
      </ul>
      <div class="icon">
        <em
          @click="toggleMobileNav"
          v-show="mobile"
          class="far fa-bars"
          :class="{ 'icon-active': mobileNav }"
        ></em>
      </div>
      <transition name="mobile-nav">
        <ul v-show="mobileNav" class="dropdown-nav">
          <li>
            <router-link class="link" :to="{ name: 'KarilList' }">Daftar Karya Ilmiah</router-link>
          </li>
          <li>
            <router-link class="link" :to="{ name: 'AccountList' }">Daftar Akun</router-link>
          </li>
          <li>
            <router-link class="link" :to="{ name: 'Dashboard' }">Panduan</router-link>
          </li>
          <li>
            <router-link class="link" :to="{ name: 'EditAccount' }">{{username}}</router-link>
          </li>
        </ul>
      </transition>
      <!-- </div> -->

    </nav>
  </header>
</template>

<script>
import Vue from 'vue';

export default {

  name: 'navigation',
  data() {
    return {
      currentUser: '',
      isAdmin: false,
      scrolledNav: null,
      mobile: null,
      mobileNav: null,
      windowWidth: null,
    };
  },
  created() {
    window.addEventListener('resize', this.checkScreen);
    this.checkScreen();
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
  methods: {
    toggleMobileNav() {
      this.mobileNav = !this.mobileNav;
    },
    updateScroll() {
      const scrollPosition = window.scrollYl;
      if (scrollPosition > 50) {
        this.scrolledNav = true;
        return;
      }
      this.scrolledNav = false;
    },
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth <= 750) {
        this.mobile = true;
        return;
      }
      this.mobile = false;
      this.mobileNav = false;
    },
    logoutUser() {
      console.log('enter');
      localStorage.removeItem('access');
      localStorage.removeItem('refresh');
      this.$router.push('/');
    },

    editUser() {
      this.$router.push('/edit-account');
    },

    changePassword() {
      this.$router.push('/change-password');
    },

    panduanDosen() {
      this.$router.push('/panduan');
    },
    panduanReviewer() {
      this.$router.push('/panduan');
    },
    panduanSDMPT() {
      this.$router.push('/panduan');
    },
    panduanAdmin() {
      this.$router.push('/panduan');
    },

  },
  beforeMount() {
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config).then((res) => {
        if (res.status === 200) {
          this.currentUser = res.data;
          this.username = res.data.username;
          if (this.currentUser.role === 'Admin') {
            this.isAdmin = true;
          }
        }
      });
    }
  },
};
</script>

<style lang="scss" scoped>
header {
  background-color: white;
  z-index: 99;
  width: 100%;
  position: fixed;
  transition: 0.5s ease all;
  color: white;
  border-bottom: 2px;
  border-bottom: 1px solid transparent;

  nav {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    transition: 0.5s ease all;
    width: 90%;
    margin: 0 auto;
    @media (min-width: 1140px) {
      max-width: 1140px;
    }

    ul,
    .link {
      font-weight: 500;
      color: black;
      list-style: none;
      text-decoration: none;
    }

    li {
      text-transform: uppercase;
      padding: 16px;
      margin-left: 16px;
    }

    .link {
      font-size: 14px;
      transition: 0.5s ease all;
      padding-bottom: 4px;
      border-bottom: 1px solid transparent;

      &:hover {
        color: purple;
        border-color: purple;
      }
    }

    .branding {
      display: flex;
      align-items: center;

      a {
        color: black;
        text-decoration: none;
        width: 50px;
        transition: 0.5s ease all;
        font-weight: 500;
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
    }

    .icon {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 24px;
      height: 100%;
      color: black;
      i {
        cursor: pointer;
        font-size: 24px;
        transition: 0.8s ease all;
      }
    }

    .icon-active {
      transform: rotate(180deg);
    }

    .dropdown-nav {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      max-width: 250px;
      height: 100%;
      background-color: black;
      top: 0;
      left: 0;

      li {
        margin-left: 0;
        .link {
          color: white;
        }
      }
    }

    .mobile-nav-enter-active,
    .mobile-nav-leave-active {
      transition: 1s ease all;
    }

    .mobile-nav-enter-from,
    .mobile-nav-leave-to {
      transform: translateX(-250px);
    }

    .mobile-nav-enter-to {
      transform: translateX(0);
    }
  }
}

.scrolled-nav {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  nav {
    padding: 8px 0;

    .branding {
      a {
        width: 40px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -1px rgba(0, 0, 0, 0.06);
      }
    }
  }
}
</style>
