<template>
  <v-row justify="center">
    <v-dialog
      v-model="isActive"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="text-h5">
          SIPEERKI
        </v-card-title>
        <v-card-text v-if="resp == 200 && email == true">
          Link ganti password sudah dikirimkan melalui email
        </v-card-text>
        <v-card-text v-else-if="resp == 200 && email == false">
          Pergantian password berhasil
        </v-card-text>
        <v-card-text v-else-if="resp == 403 && email == false">
          Credential salah
        </v-card-text>
        <v-card-text v-else-if="resp == 404 && email == true">
          Username tidak ditemukan
        </v-card-text>
        <v-card-text v-else>
          Terjadi kesalahan pada server
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="processNext"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    respProp: Number,
    isActiveProp: Boolean,
    emailProp: Boolean,
  },
  data() {
    return {
      resp: this.respProp,
      isActive: this.isActiveProp,
      email: this.emailProp,
    };
  },
  watch: {
    // whenever props change, data will update
    respProp(newRespProp) {
      this.resp = newRespProp;
    },
    isActiveProp(newIsActiveProp) {
      this.isActive = newIsActiveProp;
    },
    emailProp(newEmailProp) {
      this.email = newEmailProp;
    },
  },
  methods: {
    processNext() {
      this.isActive = false;
      this.$router.push('/your-account');
    },
  },
};
</script>
