<template>
  <div>
    <Navigation />
    <v-container style="width: 100%; padding-top: 90px">
      <validation-observer ref="observer" v-slot="{ invalid }">
        <v-form
          @submit.prevent="submitDialog"
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-row>
            <v-col cols="12">
              <h1>Tambah Karya Ilmiah</h1>
            </v-col>
            <v-col cols="auto"> Kenaikan Jabatan: </v-col>
            <v-col cols="12" sm="3">
              <validation-provider
                v-slot="{ errors }"
                name="Jabatan"
                rules="required"
              >
                <v-select
                  v-model="promotion"
                  :items="promotionSelect"
                  :error-messages="errors"
                  label="Pilih jabatan yang dituju*"
                  data-vv-name="select"
                  required
                  outlined
                >
                </v-select>
              </validation-provider>
            </v-col>
          </v-row>

          <v-card
            class="pa-10 rounded-xl mt-5"
            elevation="5"
            style="width: 100%"
          >
            <v-row>
              <v-col cols="12" class="text-center mb-5">
                <h2>Identitas Karya Ilmiah</h2>
              </v-col>
              <v-col cols="12" sm="3"> Nama Pengusul </v-col>
              <v-col cols="12" sm="9">
                <validation-provider
                  v-slot="{ errors }"
                  name="Nama Pengusul"
                  rules="required"
                >
                  <v-autocomplete
                    v-model="namaPengusul"
                    :error-messages="errors"
                    :items="namaDosen"
                    item-text="full_name"
                    item-value="username"
                    label="Nama Pengusul*"
                    data-vv-name="select"
                    outlined
                  >
                  </v-autocomplete>
                </validation-provider>
              </v-col>

              <v-col cols="12" sm="3"> Judul Karya Ilmiah </v-col>
              <v-col cols="12" sm="9">
                <validation-provider
                  v-slot="{ errors }"
                  name="Judul karil"
                  rules="required"
                >
                  <v-text-field
                    v-model="judulKaril"
                    :error-messages="errors"
                    placeholder="Judul Karil*"
                    required
                    outlined
                  >
                  </v-text-field>
                </validation-provider>
              </v-col>

              <v-col cols="12" sm="3"> Data Jurnal </v-col>
              <v-col cols="12" sm="9">
                <v-text-field
                  v-model="dataJurnal"
                  placeholder="Data Jurnal"
                  outlined
                >
                </v-text-field>
              </v-col>

              <v-col cols="12" sm="3"> Nama Penulis </v-col>
              <v-col cols="12" sm="9">
                <div
                  class="d-flex"
                  v-for="(penulis, index) in authors"
                  :key="index"
                >
                  <div style="width: 100%">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Nama Penulis"
                      rules="required"
                    >
                      <v-text-field
                        v-model="penulis.nama"
                        :name="`authors[${index}]`"
                        :error-messages="errors"
                        placeholder="Nama Penulis"
                        required
                        outlined
                      >
                      </v-text-field>
                    </validation-provider>
                  </div>
                  <div cols="1" class="ml-3 mt-4">
                    <v-icon
                      @click="removePenulis(index)"
                      color="red"
                      :disabled="authors.length < 2"
                    >
                      mdi-close-circle
                    </v-icon>
                  </div>
                </div>

                <v-btn @click="addPenulis">Tambah Penulis</v-btn>
              </v-col>

              <v-col cols="12" sm="3"> Link Asli Jurnal </v-col>
              <v-col cols="12" sm="9">
                <v-text-field
                  v-model="linkAsli"
                  placeholder="Link Asli"
                  outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="3"> Link Repository </v-col>
              <v-col cols="12" sm="9">
                <v-text-field
                  v-model="linkRepo"
                  placeholder="Link Repository"
                  outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="3"> Link Indexer </v-col>
              <v-col cols="12" sm="9">
                <v-text-field
                  v-model="linkIndexer"
                  placeholder="Link Indexer"
                  outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="3"> Link Check Similarity </v-col>
              <v-col cols="12" sm="9">
                <v-text-field
                  v-model="linkCheck"
                  placeholder="Link Check"
                  outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="3"> Link Bukti Korespondensi </v-col>
              <v-col cols="12" sm="9">
                <v-text-field
                  v-model="linkBukti"
                  placeholder="Link Bukti"
                  outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="3"> Peng-index </v-col>
              <v-col cols="12" sm="9">
                <v-text-field
                  v-model="pengIndex"
                  placeholder="Peng-Index"
                  outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="3"> Kategori Karya Ilmiah </v-col>
              <v-col cols="12" sm="9">
                <validation-provider
                  v-slot="{ errors }"
                  name="Kategori Karil"
                  rules="required"
                >
                  <v-select
                    v-model="kategori"
                    :error-messages="errors"
                    :items="kategoriSelect"
                    label="Kategori Karil*"
                    data-vv-name="select"
                    outlined
                  >
                  </v-select>
                </validation-provider>
              </v-col>
            </v-row>
            <v-row class="justify-end">
              <v-col md="2">
                <v-dialog v-model="dialog_submit" width="500">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="mr-4 white--text"
                      :disabled="invalid"
                      type="submit"
                      color="success"
                      width="100%"
                      v-bind="attrs"
                      v-on="on"
                    >
                      Submit
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-text
                      style="padding: 4%"
                      align="center"
                      class="text-h5"
                    >
                      Karya Ilmiah berhasil disubmit!
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="success"
                        text
                        @click="
                          dialog_submit = false;
                          checkForm();"
                      >
                        OK
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>
              <v-col md="2">
                <v-btn
                  class="mr-4 white--text"
                  :disabled="false"
                  color="red"
                  width="100%"
                  v-on:click="cancel"
                >
                  Cancel
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-form>
      </validation-observer>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
import Vuetify from "vuetify";
import { required } from "vee-validate/dist/rules";
import { extend, ValidationObserver, ValidationProvider } from "vee-validate";
import Navigation from "../components/Navigation.vue";

extend("required", {
  ...required,
  message: "{_field_} harap diisi.",
});

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

export default {
  name: "AddKaril",
  components: {
    ValidationProvider,
    ValidationObserver,
    Navigation,
  },
  data() {
    return {
      namaPengusul: null,
      judulKaril: null,
      dataJurnal: null,
      authors: [{ nama: null }],
      linkAsli: null,
      linkRepo: null,
      linkIndexer: null,
      linkCheck: null,
      linkBukti: null,
      pengIndex: null,
      kategori: null,
      kategoriSelect: ["Buku", "Jurnal"],
      namaDosen: [],
      promotion: null,
      promotionSelect: [
        "Asisten Ahli",
        "Lektor",
        "Lektor Kepala",
        "Guru Besar/Professor",
      ],
      status: "Not Assigned",
      dialog_submit: false,
      penulisCount: 1,
      // status: 'Not Reviewed Yet',
    };
  },
  methods: {
    addPenulis() {
      this.authors.push({ nama: "" });
    },
    removePenulis(index) {
      this.authors.splice(index, 1);
    },
    submitForm() {
      const data = {
        pemilik: this.namaPengusul,
        judul: this.judulKaril,
        journal_data: this.dataJurnal,
        authors: this.authors.map((penulis) => penulis.nama),
        link_origin: this.linkAsli,
        link_repo: this.linkRepo,
        link_indexer: this.linkIndexer,
        link_simcheck: this.linkCheck,
        link_correspondence: this.linkBukti,
        indexer: this.pengIndex,
        category: this.kategori,
        promotion: this.promotion,
        status: this.status,
      };
      if (localStorage.access) {
        const accessToken = localStorage.access;
        console.log("something");
        const config = {
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
        };
        console.log(data);
        Vue.axios
          .post(
            `${process.env.VUE_APP_BACKEND_URL || ""}/api/karil/manage-karil/`,
            data,
            config,
          )
          .then((res) => {
            if (res.status === 500) {
              alert("Terjadi kesalahan.");
            } else if (res.status === 201) {
              console.log(res.data);
              console.log("Success");
              this.$router.push("/karil-list");
            }
            // } else {
            //   console.log(res.data);
            //   console.log(res.status);
            //   alert('Try Again.');
            // }
          })
          .catch((err) => {
            console.log(err.response);
          });
      }
    },

    submitDialog() {
      this.dialog_submit = true;
    },

    checkForm() {
      this.$refs.observer.validate();
      this.submitForm();
    },

    cancel() {
      this.$router.push("/karil-list");
    },
  },

  beforeMount() {
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios
        .get(
          `${process.env.VUE_APP_BACKEND_URL || ""}/api/user/get-dosen/`,
          config,
        )
        .then((res) => {
          if (res.status === 200) {
            console.log(res.data);
            this.namaDosen = res.data;
          } else {
            this.$router.push("/");
          }
        })
        .catch((err) => {
          console.log(err);
        });
    }
  },
};
</script>
