<template>
  <div>
    <Navigation />
    <v-container style="width: 100%; padding-top: 95px">
      <validation-observer ref="observer" v-slot="{ invalid }">
        <v-form @submit.prevent="submitDialog" ref="form" v-model="valid" lazyvalidation>
          <v-row>
          <v-col>
          <h1>Daftar Karya Ilmiah</h1>
          </v-col>
            <v-col md="1" class="mr-auto">

              <v-dialog v-model="dialog_submit" width="500">
              <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mr-4 white--text"
                :disabled="invalid"
                type="submit"
                color="success"
                width="100%"
                v-on="on"
                v-bind="attrs"
              > Accept
              </v-btn>
              </template>

              <v-card>
        <v-card-text style="padding: 4%" align="center" class="text-h5">
          review berhasil disubmit!
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            text
            @click="dialog_submit = false; checkForm()"
          >
            OK
          </v-btn>
          </v-card-actions>
          </v-card>
          </v-dialog>

            </v-col>
            <v-col md="1" class="mr-auto">
              <v-btn
                class="mr-4 white--text"
                :disabled="false"
                v-on:click="cancel"
                color="red"
                width="100%"
              > Cancel
              </v-btn>
            </v-col>
          </v-row>

          <v-row >
              <v-col md="3" class="mr-auto">
                  Dosen : {{ karilData.pemilik }} <br>
                  Jabatan: {{ karilData.position }} <br>
                  Kenaikan Jabatan: {{ karilData.promotion }}
              </v-col>
          </v-row>

          <div class="identitas" style="margin-top: 2rem; width: 100%;" justify="center">
              <v-row align="center" justify="center" row-gap="10px">
                  <v-col md="5" align="right">
                      <h1>Identitas Karya Ilmiah</h1>
                  </v-col>
              </v-row>
              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Nama Penulis
                  </v-col>
                  <v-col md="2">
                      {{ karilData.pemilik }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Judul Karya Ilmiah
                  </v-col>
                  <v-col md="2">
                      {{ karilData.judul }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Data Jurnal
                  </v-col>
                  <v-col md="2">
                      {{karilData.journal_data}}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Link Asli Jurnal
                  </v-col>
                  <v-col md="2">
                      {{ karilData.link_origin }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Link Repository
                  </v-col>
                  <v-col md="2">
                      {{ karilData.link_repo }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Link Indexer
                  </v-col>
                  <v-col md="2">
                      {{ karilData.link_indexer }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Link Check Similarity
                  </v-col>
                  <v-col md="2">
                      {{ karilData.link_simcheck }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Link Bukti Korespondensi
                  </v-col>
                  <v-col md="2">
                      {{ karilData.link_correspondence }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Peng-index
                  </v-col>
                  <v-col md="2">
                      {{ karilData.indexer }}
                  </v-col>
              </v-row>

              <v-row align="center" justify="center">
                  <v-col md="3" align="right">
                      Kategori Karya Ilmiah
                  </v-col>
                  <v-col md="2">
                    {{ karilData.category }}
                  </v-col>
              </v-row>
          </div>

          <div class="reviewers" style="margin-top: 2rem; width: 100%;" justify="center">
              <v-row align="center" justify="center" row-gap="10px">
                  <v-col md="3" align="right">
                      <h1>Reviewer</h1> <br>
                  </v-col>
              </v-row>
              <div>
                <label class="typo__label">Reviewer</label>
                <multiselect v-model="selected"
                tag-placeholder="Add this as new tag" placeholder="Cari atau tambah reviewer"
                label="full_name" track-by="username" :options="options"
                :multiple="true" :taggable="true" @tag="addTag">
                </multiselect>
              </div>
          </div>
        </v-form>
      </validation-observer>
    </v-container>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import Vuetify from 'vuetify';
import Multiselect from 'vue-multiselect';
import {
  ValidationObserver,
} from 'vee-validate';
import Navigation from '../components/Navigation.vue';

Vue.use(Vuetify);
Vue.use(VueAxios, axios);
Vue.component('multiselect', Multiselect);

export default {
  name: 'AssignReviewer',
  components: {
    ValidationObserver,
    Multiselect,
    Navigation,
  },
  data() {
    return {
      karilData: '',
      namaPenulis: null,
      judulKaril: null,
      dataJurnal: null,
      linkAsli: null,
      linkRepo: null,
      linkIndexer: null,
      linkCheck: null,
      linkBukti: null,
      pengIndex: null,
      kategori: null,
      status: 'Not Reviewed',
      karilId: null,
      counter: 0,
      selected: null,
      options: '',
      dialog_submit: false,
    };
  },
  // computed: {
  //   options: () => this.reviewers,
  // },
  // computed: {
  //   options() {
  //     const opts = [];
  //     opts.push('Nama Reviewer 0');
  //     opts.push('Nama Reviewer 1');
  //     opts.push('Nama Reviewer 2');
  //     return opts;
  //   },
  // },
  methods: {
    submitForm() {
      const reviewing_people = [];
      const arrayLength = this.selected.length;
      for (let i = 0; i < arrayLength; i++) {
        reviewing_people.push(this.selected[i].username);
      }
      const data = {
        karil_id: this.karilId,
        pemilik: this.karilData.pemilik,
        judul: this.karilData.judul,
        journal_data: this.karilData.journal_data,
        link_origin: this.karilData.link_origin,
        link_repo: this.karilData.link_repo,
        link_indexer: this.karilData.link_indexer,
        link_simcheck: this.karilData.link_simcheck,
        link_correspondence: this.karilData.link_correspondence,
        indexer: this.karilData.indexer,
        category: this.karilData.category,
        status: this.status,
        reviewers: reviewing_people,
      };

      if (localStorage.access) {
        const accessToken = localStorage.access;
        const config = {
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
        };
        Vue.axios
          .put(`${process.env.VUE_APP_BACKEND_URL || ''}/api/karil/manage-karil/`, data, config)
          .then((res) => {
            console.log(res.data);
            if (res.status === 200) {
              this.accept();
            }
          })
          .catch((err) => {
            // TODO: Make this output more user-friendly!!!
            // Clean string up with a function?
            console.log(err);
            // var responseErrors = JSON.stringify(err.response.data);
            // console.log(responseErrors);
            // var errMsg = "Edit gagal, errors: " + responseErrors;
            // alert(errMsg);
          });
      }
    },

    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000)),
      };
      this.options.push(tag);
      this.value.push(tag);
    },

    checkForm() {
      this.$refs.observer.validate();
      this.submitForm();
    },

    editKaril() {
      this.$router.push('/edit-karil');
    },

    submitDialog() {
      this.dialog_submit = true;
    },

    cancel() {
      this.$router.push('/karil-list');
    },

    accept() {
      const data = {
        karil_id: this.karilId,
        reviewers: this.selected,
      };
      if (localStorage.access) {
        const accessToken = localStorage.access;
        const config = {
          headers: { Authorization: `Bearer ${accessToken}` },
        };
        console.log(data);
        Vue.axios.post(`${process.env.VUE_APP_BACKEND_URL || ''}/api/review/manage-reviewers/`, data, config).then((res) => {
          if (res.status === 500) {
            console.log('Name error');
          } else if (res.status === 201) {
            this.submitDialog();
            console.log('Success');
            this.$router.push('/karil-list');
          }
        })
          .catch((err) => {
            console.log(err.response);
          });
      }
    },
  },

  beforeMount() {
    this.karilId = this.$route.query.id;
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const data = {
        karil_id: this.karilId,
      };
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios.post(`${process.env.VUE_APP_BACKEND_URL || ''}/api/karil/get-karil-form/`, data, config).then((res) => {
        if (res.status === 200) {
          this.karilData = res.data;
        } else {
          this.$router.push('/');
        }
      });

      Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/review/get-all-dosen/`, data, config).then((res) => {
        if (res.status === 200) {
          const aData = res.data;
          for (let i = 0; i < aData.length; i++) {
            if (aData[i].username === this.karilData.pemilik) {
              delete aData[i];
            }
          }
          console.log(aData);
          this.options = aData;
        } else {
          this.$router.push('/');
        }
      });
    }
  },
};

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
