<template>
  <v-container style="margin-top: 2rem; width: 60%; padding: 80px 0">
    <v-div v-if="userData.auth_provider === 'email'">
      <v-row justify="center">
        <v-col cols="12" class="d-flex justify-center">
          <h2>Ganti Password</h2>
        </v-col>
      </v-row>
      <PopupPassword :isActiveProp="myIsActive" :respProp="myResp" :emailProp="myEmail" />
      <v-row justify="center">
        <v-col cols="6">
          <validation-observer ref="observer" v-slot="{ invalid }">
            <v-form @submit.prevent="checkForm" ref="form" v-model="valid">
              <validation-provider
                v-slot="{ errors }"
                name="oldPassword"
                rules="required|min:6"
              >
                <v-text-field
                  v-model="oldPassword"
                  :error-messages="errors"
                  label="old-Password*"
                  type="password"
                  required
                >
                </v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="password"
                rules="required|min:6"
                vid="password"
              >
                <v-text-field
                  v-model="password"
                  :error-messages="errors"
                  label="Password*"
                  type="password"
                  required
                >
                </v-text-field>
              </validation-provider>

              <validation-provider
                v-slot="{ errors }"
                name="re-password"
                rules="required|min:6|confirmed:password"
              >
                <v-text-field
                  v-model="confirmPassword"
                  :error-messages="errors"
                  label="confirmPassword*"
                  type="password"
                  required
                >
                </v-text-field>
              </validation-provider>

              <v-btn
                class="ml-auto white--text"
                :disabled="invalid"
                type="submit"
                color="#8D38E3"
                width="100%"
                :loading="loading"
              >
                Submit
              </v-btn>
            </v-form>
          </validation-observer>
          <v-row justify="center">
            <p style="" class="mt-5">
              Batal ganti password? <span> <a href="javascript:history.back()">Kembali</a></span>
            </p>
          </v-row>
        </v-col>
      </v-row>
    </v-div>
  </v-container>
</template>

<script>
import Vue from 'vue';
import { required, min, confirmed } from 'vee-validate/dist/rules';
import {
  extend,
  setInteractionMode,
  ValidationObserver,
  ValidationProvider,
} from 'vee-validate';
import VueAxios from 'vue-axios';
import axios from 'axios';
import Vuetify from 'vuetify';
import PopupPassword from '../components/PopupPassword.vue';

Vue.use(VueAxios, axios);
Vue.use(Vuetify);
setInteractionMode('eager');

extend('min', {
  ...min,
  message: '{_field_} may not be lower than {length} characters',
});

extend('required', {
  ...required,
  message: '{_field_} can not be empty',
});

extend('confirmed', {
  ...confirmed,
  message: "password didn't match",
});

export default {
  name: 'ChangePassword',
  components: {
    ValidationProvider,
    ValidationObserver,
    PopupPassword,
  },
  data() {
    return {
      userData: '',
      oldPassword: null,
      password: null,
      confirmPassword: null,
      loading: false,
      myIsActive: false,
      myResp: 0,
      myEmail: false,
    };
  },
  methods: {
    submitForm() {
      const data = {
        username: this.userData.username,
        old_password: this.oldPassword,
        new_password: this.password,
        new_password_confirmed: this.confirmPassword,
      };
      const accessToken = localStorage.access;
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      axios
        .post(
          `${process.env.VUE_APP_BACKEND_URL || ''}/api/auth/change-password/`,
          data,
          config,
        )
        .then((res) => {
          if (res.status === 200) {
            this.myResp = 200;
            this.myIsActive = true;
          } else {
            this.myIsActive = true;
          }
        })
        .catch((error) => {
          if (error.response.status === 403) {
            this.myResp = 403;
            this.myIsActive = true;
          } else {
            this.myIsActive = true;
          }
        });
    },
    checkForm() {
      this.loading = true;
      this.$refs.observer.validate();
      this.submitForm();
    },
  },
  beforeMount() {
    if (localStorage.access) {
      console.log(localStorage.access);
      console.log(localStorage.refresh);
      const accessToken = localStorage.access;
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios
        .get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config)
        .then((res) => {
          console.log(res.data);
          if (res.status === 200) {
            this.userData = res.data;
          }
        });
    } else {
      this.$router.push('/');
    }
  },
};
</script>
