<template>
  <div>
    <Navigation />
    <v-container style="width: 100%; padding-top: 90px">
      <validation-observer ref="observer" v-slot="{ invalid }">
        <v-form
          @submit.prevent="submitDialog"
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-row>
            <v-col>
              <h1>Form Review Karya Ilmiah</h1>
            </v-col>
          <v-col md="2" class="mr-auto">
            <v-btn
              v-on:click="cancel"
              class="mr-4 white--text"
              color="error"
              width="100%"
            > Kembali
            </v-btn>
          </v-col>
          </v-row>
          <v-row>
            <v-col md="3" class="mr-auto">
              Dosen : {{ karilData.pemilik }} <br />
              Jabatan: {{ karilData.position }} <br />
              Kenaikan Jabatan: {{ karilData.promotion }}
            </v-col>
          </v-row>

          <div
            class="identitas"
            style="margin-top: 2rem; width: 100%"
            justify="center"
          >
          <v-card class="pa-10 rounded-xl mt-5" elevation="5" style="width: 100%">
            <v-row>
              <v-col cols="12" class="text-center mb-5">
                <h1>Identitas Karya Ilmiah</h1>
              </v-col>
              <v-col cols="12" sm="3"> Nama Pengusul </v-col>
              <v-col cols="12" sm="9">
                {{ karilData.pemilik }}
              </v-col>
              <v-col cols="12" sm="3"> Judul Karya Ilmiah </v-col>
              <v-col cols="12" sm="9">
                {{ karilData.judul }}
              </v-col>
              <v-col cols="12" sm="3"> Data Jurnal </v-col>
              <v-col cols="12" sm="9">
                {{ karilData.journal_data }}
              </v-col>
              <v-col cols="12" sm="3"> Nama Penulis </v-col>
              <v-col cols="12" sm="9">
                <ol>
                  <li v-for="(penulis, index) in karilData.authors" :key="index">
                    {{ penulis }}
                  </li>
                </ol>
              </v-col>
              <v-col cols="12" sm="3"> Link Asli Jurnal </v-col>
              <v-col cols="12" sm="9">
                <a target="_blank" :href="karilData.link_origin">
                  {{ karilData.link_origin }}
                </a>
              </v-col>
              <v-col cols="12" sm="3"> Link Repository </v-col>
              <v-col cols="12" sm="9">
                <a target="_blank" :href="karilData.link_origin">
                  {{ karilData.link_repo }}
                </a>
              </v-col>
              <v-col cols="12" sm="3"> Link Indexer </v-col>
              <v-col cols="12" sm="9">
                <a target="_blank" :href="karilData.link_origin">
                  {{ karilData.link_indexer }}
                </a>
              </v-col>
              <v-col cols="12" sm="3"> Link Check Similarity </v-col>
              <v-col cols="12" sm="9">
                <a target="_blank" :href="karilData.link_origin">
                  {{ karilData.link_simcheck }}
                </a>
              </v-col>
              <v-col cols="12" sm="3"> Link Bukti Korespondensi </v-col>
              <v-col cols="12" sm="9">
                <a target="_blank" :href="karilData.link_origin">
                  {{ karilData.link_correspondence }}
                </a>
              </v-col>
              <v-col cols="12" sm="3"> Peng-index </v-col>
              <v-col cols="12" sm="9">
                {{ karilData.indexer }}
              </v-col>
              <v-col cols="12" sm="3"> Kategori Karya Ilmiah </v-col>
              <v-col cols="12" sm="9">
                {{ karilData.category }}
              </v-col>
            </v-row>
          </v-card>
          </div>

          <div
            style="margin-top: 2rem; width: 100%"
            justify="center">
            <v-card class="pa-10 rounded-xl">
              <v-row align="center" justify="center" row-gap="30px">
                <v-col align="center">
                  <h1>Kategori karya ilmiah, dan nilai maksimal (pilih salah satu)</h1>
                </v-col>
              </v-row>

              <!-- <v-radio-group v-model="bobotKategori"> -->

              <!-- </v-radio-group>

              <v-radio-group
                v-model="pilihanPengusul"
                row
              >
                <v-radio
                  label="K1"
                  value="1"
                ></v-radio>
                <v-radio
                  label="K2"
                  value="2"
                ></v-radio>
                <v-radio
                  label="K3"
                  value="3"
                ></v-radio>
                <v-radio
                  label="K4"
                  value="4"
                ></v-radio>
                <v-radio
                  label="K5"
                  value="5"
                ></v-radio>
                <v-radio
                  label="K6"
                  value="6"
                ></v-radio>
              </v-radio-group> -->




              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col cols="12">
                  <h3>Buku</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Buku referensi </v-col>
                <v-col cols="12" sm="1" align="center"> 40 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="40" name="kategori" v-model="bobotKategori" />
                </v-col>
                <v-col cols="12" sm="9"> Buku monograph </v-col>
                <v-col cols="12" sm="1" align="center"> 20 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="20" name="kategori" v-model="bobotKategori" />
                </v-col>
                <v-col cols="12" sm="9"> Book chapter (internasional) </v-col>
                <v-col cols="12" sm="1" align="center"> 15 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="15" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Book chapter (nasional) </v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col>
                  <h3>Jurnal</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Jurnal internasional bereputasi (terindeks pada database internasional bereputasi dan berfaktor dampak) </v-col>
                <v-col cols="12" sm="1" align="center"> 40 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="40" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal internasional terindeks pada basis data internasional bereputasi </v-col>
                <v-col cols="12" sm="1" align="center"> 30 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="30" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal internasional terindeks pada basis data non bereputasi  </v-col>
                <v-col cols="12" sm="1" align="center"> 20 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="20" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal nasional terakreditasi Kemenristek Dikti </v-col>
                <v-col cols="12" sm="1" align="center"> 25 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="25" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal nasional terakreditasi Kemenristek Dikti peringkat 1 dan 2 </v-col>
                <v-col cols="12" sm="1" align="center"> 25 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="25" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal nasional berbahasa Inggris atau bahasa resmi (PBB) terindeks pada basis data yang diakui Kemenristekdikti, contoh: CABI atau Index Copernicus International (ICI) </v-col>
                <v-col cols="12" sm="1" align="center"> 20 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="20" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal nasional berbahasa Indonesia terindeks pada basis data yang diakui Kemenristekdikti, contoh : akreditasi peringkat 5 dan 6 </v-col>
                <v-col cols="12" sm="1" align="center"> 15 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="15" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal nasional</v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Jurnal ilmiah yang ditulis dalam Bahasa Resmi PBB namun tidak memenuhi syarat syarat sebagai jurnal ilmiah internasional </v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col>
                  <h3>Dipresentasikan secara oral dan dimuat dalam prosiding yang dipublikasikan (ber ISSN/ISBN)</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Internasional terindeks pada Scimagojr dan Scopus </v-col>
                <v-col cols="12" sm="1" align="center"> 30 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="30" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Internasional terindeks pada Scopus/IEEE Explore/SPIE </v-col>
                <v-col cols="12" sm="1" align="center"> 25 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="25" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Internasional </v-col>
                <v-col cols="12" sm="1" align="center"> 15 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="15" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Nasional </v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col>
                  <h3>Disajikan dalam bentuk poster dan dimuat dalam prosiding yang dipublikasikan</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Internasional </v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Nasional </v-col>
                <v-col cols="12" sm="1" align="center"> 5 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="5" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col>
                  <h3>Disajikan dalam seminar/simposium/lokakarya, tetapi tidak dimuat dalam prosiding yang dipublikasikan</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Internasional (bukti sertifikat)</v-col>
                <v-col cols="12" sm="1" align="center"> 5 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="5" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Nasional (bukti sertifikat)</v-col>
                <v-col cols="12" sm="1" align="center"> 3 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="3" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col>
                  <h3>Hasil penelitian/pemikiran yang tidak disajikan dalam seminar/simposium/lokakarya tetapi dimuat dalam prosiding</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Internasional </v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Nasional </v-col>
                <v-col cols="12" sm="1" align="center"> 5 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="5" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Hasil penelitian/pemikiran yang disajikan dalam koran/majalah populer/umum </v-col>
                <v-col cols="12" sm="1" align="center"> 1 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="1" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Hasil penelitian atau pemikiran atau kerjasama industri yang tidak dipublikasikan (tersimpan dalam perpustakaan) yang dilakukan secara melembaga </v-col>
                <v-col cols="12" sm="1" align="center"> 2 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="2" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Menerjemahkan/menyadur buku ilmiah, Diterbitkan dan diedarkan secara nasional </v-col>
                <v-col cols="12" sm="1" align="center"> 15 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="15" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Mengedit/menyunting karya ilmiah, Diterbitkan dan diedarkan secara nasional </v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col>
                  <h3>HKI - Membuat rancangan dan karya teknologi yang dipatenkan atau seni yang terdaftar di HAKI secara nasional atau internasional</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Internasional (paling sedikit diakui oleh 4 negara) </v-col>
                <v-col cols="12" sm="1" align="center"> 60 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="60" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Nasional </v-col>
                <v-col cols="12" sm="1" align="center"> 40 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="40" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Nasional, dalam bentuk paten sederhana yang telah memiliki sertifikat dari Direktorat Jenderal Kekayaan Intelektual, Kemenkumham </v-col>
                <v-col cols="12" sm="1" align="center"> 20 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="20" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Karya ciptaan desain industri, indikasi geografis yang telah memiliki sertifikat dari Direktorat Jenderal Kekayaan Intelektual, Kemenkumham (termasuk kategori ini: Buku/Modul Ajar) </v-col>
                <v-col cols="12" sm="1" align="center"> 15 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="15" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
              <!-- Pemisah Kategori -->
              <v-row  row-gap="20px">
                <v-col>
                  <h3>Membuat rancangan dan karya teknologi yang tidak dipatenkan; rancangan dan karya seni monumental yang tidak terdaftar di HAKI tetapi telah dipresentasikan pada forum yang teragenda</h3>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="9"> Internasional </v-col>
                <v-col cols="12" sm="1" align="center"> 20 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="20" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Nasional </v-col>
                <v-col cols="12" sm="1" align="center"> 15 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="15" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Lokal </v-col>
                <v-col cols="12" sm="1" align="center"> 10 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="10" name="kategori" v-model="bobotKategori"/>
                </v-col>
                <v-col cols="12" sm="9"> Rancangan dan karya seni yang tidak terdaftar HAKI </v-col>
                <v-col cols="12" sm="1" align="center"> 5 </v-col>
                <v-col cols="12" sm="1" align="center">
                  <input type="radio" value="5" name="kategori" v-model="bobotKategori"/>
                </v-col>
              </v-row>
            </v-card>
          </div>

          <div
            style="margin-top: 2rem; width: 100%"
            justify="center">
            <v-card class="rounded-xl">
            <v-row align="center" justify="center" row-gap="30px">
              <v-col align="center">
                <h1>Hasil Penilaian Validasi</h1>
              </v-col>
            </v-row>

            <v-row align="center" justify="center">
              <v-col md="3" align="right"> Indikasi Plagiarisme </v-col>
              <v-col md="5">
                <validation-provider
                  v-slot="{ errors }"
                  name="Indikasi Plagiarisme"
                  rules="required"
                >
                  <v-textarea
                    v-model="indikasiPlagiasi"
                    :error-messages="errors"
                    placeholder="Indikasi Plagiarisme*"
                    required
                    outlined
                  >
                  </v-textarea>
                </validation-provider>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col md="3" align="right"> Linearitas </v-col>
              <v-col md="5">
                <validation-provider
                  v-slot="{ errors }"
                  name="Linearitas"
                  rules="required"
                >
                  <v-textarea
                    v-model="linearitas"
                    :error-messages="errors"
                    placeholder="Linearitas*"
                    required
                    outlined
                  >
                  </v-textarea>
                </validation-provider>
              </v-col>
            </v-row>
            </v-card>
          </div>
          
          <div
            style="margin-top: 2rem; "
            justify="center">
            <v-card class="rounded-xl" style="padding: 3%;">
            <v-row align="center" justify="center" row-gap="10px">
              <v-col align="center">
                <h1>
                  Hasil Penilaian Peer Review
<v-dialog
      v-model="dialog"
      width="800px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          @click="info"
          v-bind="attrs"
          v-on="on"
        >
          mdi-information-outline
        </v-icon>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Petunjuk Pengisian Kolom Uraian untuk Penilaian Peer Review</span>
        </v-card-title>
        <v-card-text>
          <ol>
            <li>Kelengkapan dan kesesuaian unsur publikasi (10%)</li>
            <ol type="a">
              <li>Kelengkapan: Sistematika sesuai penulisan Intruction for Authors</li>
              <li>Kesesuaian: Ada tidak benang merah antara TITLE dengan IMRaDC</li>
            </ol>
            <li>Ruang lingkup, kedalaman pembahasan, keterbaruan (30%)</li>
            <ol type="a">
              <li>Ruang Lingkup: Kesesuaian Bidang Ilmu Penulis</li>
              <li>Kedalaman: % (persentase) yang dilibatkan dalam proses membahas</li>
              <li>Keterbaruan: Keterbaruan artikel yang dibahas</li>
            </ol>
            <li>Kecukupan dan kemutakhiran data/informasi dan metodologi (30%)</li>
            <ol type="a">
              <li>Kecukupan/Kemuktahiran: Tinjauan Pustaka Primer dan masa (misalnya 5 - 10 tahun terakhir)</li>
              <li>Metodology: Adakah unsur novelty (inovasi dan invensi) </li>
            </ol>
            <li>Kelengkapan unsur dan kualitas penerbit, hasil dan manfaat (30%)</li>
            <ol type="a">
              <li>Cek Online Artikel: ada/tidak</li>
              <li>Cek Kebenaran ISSN/ISBN</li>
              <li>Cek Apakah termasuk "Predatory"/tidak (baik jurnal maupun penerbit</li>
              <li>Cek Konsistensi penulisan antara "Intruction for Author" dengan fakta artikel</li>
              <li>Cek Kategori Nasioan atau Internasional</li>
              <li>Cek Indexting Jurnal</li>
              <li>Cek syarat komposisi "Editor Board"</li>
              <li>Cek syarat kontributor penulis artikel</li>
              <li>Cek keberkalaan penerbitan</li>
            </ol>
          </ol>
        </v-card-text>
        <v-card-actions class="justify-end">
              <v-btn
                text
                @click="dialog = false"
              >Tutup</v-btn>
            </v-card-actions>
      </v-card>
    </v-dialog>
                </h1>
              </v-col>
            </v-row>
            <div>
              <v-row>
                <v-col></v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Kelengkapan dan Kesesuaian Unsur Publikasi (10%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Ruang lingkup, kedalaman pembahasan, kebaruan (30%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Kecupukuan dan kemutakhiran data/infromasi dan metodologi (30%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Kelengkapan unsur dan kualitas penerbit, hasil dan manfaat (30%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Total
                  </p>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <p class="font-weight-medium">
                    Komentar
                  </p>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Komentar"
                  >
                    <v-textarea
                      counter
                      v-model="komentar1"
                      :error-messages="errors"
                      placeholder="Komentar"
                      outlined
                    >
                    </v-textarea>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Komentar"
                  >
                    <v-textarea
                      counter
                      v-model="komentar2"
                      :error-messages="errors"
                      placeholder="Komentar"
                      outlined
                    >
                    </v-textarea>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Komentar"
                  >
                    <v-textarea
                      counter
                      v-model="komentar3"
                      :error-messages="errors"
                      placeholder="Komentar"
                      outlined
                    >
                    </v-textarea>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Komentar"
                  >
                    <v-textarea
                      counter
                      v-model="komentar4"
                      :error-messages="errors"
                      placeholder="Komentar"
                      outlined
                    >
                    </v-textarea>
                  </validation-provider>
                </v-col>
                <v-col></v-col>
              </v-row>

              <v-row>
                <v-col>
                  <p class="font-weight-medium">
                    Nilai Akhir
                  </p>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Nilai Akhir1"
                    rules="required|numeric|min_value:0"
                  >
                    <v-text-field
                      v-model.number="nilaiAkhir1"
                      type="number"
                      :error-messages="errors"
                      placeholder="Nilai Akhir*"
                      required
                      outlined
                    >
                    </v-text-field>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Nilai Akhir2"
                    rules="required|numeric|min_value:0"
                  >
                    <v-text-field
                      v-model.number="nilaiAkhir2"
                      type="number"
                      :error-messages="errors"
                      placeholder="Nilai Akhir*"
                      required
                      outlined
                    >
                    </v-text-field>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Nilai Akhir3"
                    rules="required|numeric|min_value:0"
                  >
                    <v-text-field
                      v-model.number="nilaiAkhir3"
                      type="number"
                      :error-messages="errors"
                      placeholder="Nilai Akhir*"
                      required
                      outlined
                    >
                    </v-text-field>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Nilai Akhir"
                    rules="required|numeric|min_value:0"
                  >
                    <v-text-field
                      v-model.number="nilaiAkhir4"
                      type="number"
                      :error-messages="errors"
                      placeholder="Nilai Akhir*"
                      required
                      outlined
                    >
                    </v-text-field>
                  </validation-provider>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    {{ nilaiTotal }}
                  </p>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <p class="font-weight-medium">
                    Nilai Maksimum
                  </p>
                </v-col>
                <v-col><p class="text-center">{{ maks10 }}</p></v-col>
                <v-col><p class="text-center">{{ maks30 }}</p></v-col>
                <v-col><p class="text-center">{{ maks30 }}</p></v-col>
                <v-col><p class="text-center">{{ maks30 }}</p></v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    {{ totalNilaiMaksimum }}
                  </p>
                </v-col>
              </v-row>
            </div>
            </v-card>
          </div>
          <div
            style="margin-top: 2rem; width: 100%"
            justify="center">
          <v-card class="rounded-xl" style="padding:40px;">
          <v-col align="center">
            <h1>Nilai Pengusul</h1>
          </v-col>
            <v-row align="center" justify="center">
              <v-col md="3" align="center"> Pilihan Pengusul </v-col>
              <v-col md="5">
                <validation-provider
                  name="Nilai Pengusul"
                  rules="required"
                >
                  <v-radio-group
                    v-model="pilihanPengusul"
                    row
                  >
                    <v-radio
                      label="K1"
                      value="1"
                    ></v-radio>
                    <v-radio
                      label="K2"
                      value="2"
                    ></v-radio>
                    <v-radio
                      label="K3"
                      value="3"
                    ></v-radio>
                    <v-radio
                      label="K4"
                      value="4"
                    ></v-radio>
                    <v-radio
                      label="K5"
                      value="5"
                    ></v-radio>
                    <v-radio
                      label="K6"
                      value="6"
                    ></v-radio>
                  </v-radio-group>
                </validation-provider>
              </v-col>
            </v-row>
            <v-row>
              <p style="margin-left:auto; margin-right:auto;">{{ deskripsiPilihan }}</p>
            </v-row>
            <v-row align="center" justify="center">
              <v-col md="3" align="right">Nilai Pengusul</v-col>
              <v-col md="2">
                {{ nilaiPengusul }}
              </v-col>
            </v-row>
          </v-card>
          </div>
          <v-row style="margin-top: 2rem; margin-bottom: 2rem;">
          <v-col md="1" style="margin-left:auto;">
            <v-dialog
              v-model="dialogSubmit"
              persistent
              max-width="400"
            >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mr-4 white--text"
                :disabled="invalid"
                color="success"
                width="100%"
                type="submit"
                v-bind="attrs"
                v-on="on"
              >
                Submit
              </v-btn>
              </template>
              <v-card>
                <v-card-text style="padding: 4%" align="center" class="text-h5">
                  Apakah anda ingin memberi ulasan
                  karya ilmiah ini?
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    style="margin-left: auto"
                    class="white--text"
                    color="success"
                    @click="dialogSubmit = false; checkForm()"
                  >
                    Ya
                  </v-btn>
                  <v-btn
                    style="margin-right: auto;"
                    class="white--text"
                    color="error"
                    @click="dialogSubmit = false"
                  >
                    Tidak
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
          <v-col md="1" style="margin-right:auto;">
            <v-btn
              class="mr-4 white--text"
              :disabled="false"
              color="red"
              v-on:click="cancel"
              width="100%"
            >
              Cancel
            </v-btn>
          </v-col>
        </v-row>
        </v-form>
      </validation-observer>
    </v-container>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import Vuetify from 'vuetify';
import {
  required, numeric, min_value, max_value,
} from 'vee-validate/dist/rules';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from 'vee-validate';
import Navigation from '../components/Navigation.vue';

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

setInteractionMode('eager');

extend('required', {
  ...required,
  message: '{_field_} tidak boleh kosong',
});

extend('numeric', {
  ...numeric,
  message: '{_field_} harus dalam bentuk angka',
});

extend('min_value', {
  ...min_value,
  message: 'Nilai tidak boleh kurang dari nilai minimum',
});

extend('max_value', {
  ...max_value,
  message: 'Nilai tidak boleh melebihi nilai maksimum',
});

export default {
  name: 'CreateReview',
  components: {
    ValidationProvider,
    ValidationObserver,
    Navigation,
  },
  data() {
    return {
      userData: '',
      karilData: '',
      reviewId: null,
      namaPenulis: null,
      judulKaril: null,
      dataJurnal: null,
      linkAsli: null,
      linkRepo: null,
      linkIndexer: null,
      linkCheck: null,
      linkBukti: null,
      pengIndex: null,
      kategori: null,
      status: 'Requested',
      karilId: null,
      reviewer: null,
      indikasiPlagiasi: null,
      linearitas: null,
      komentar1: null,
      nilaiAkhir1: 0,
      komentar2: null,
      nilaiAkhir2: 0,
      komentar3: null,
      nilaiAkhir3: 0,
      komentar4: null,
      nilaiAkhir4: 0,
      nilaiPengusul: null,
      dialog: false,
      dialogSubmit: false,
      pilihanPengusul: null,
      deskripsiPilihan: '',
      nilaiTotal: 0,
      jumlahPenulisPendamping: 0,
      bobotPersen: 0,
      totalNilaiMaksimum: 0,
      maks10: 0,
      maks30: 0,
      bobotKategori: 0,
    };
  },
  watch: {
    pilihanPengusul(pilihan) {
      if (pilihan === '1') {
        this.bobotPersen = 1;
        this.nilaiPengusul = this.nilaiTotal * 1;
        this.deskripsiPilihan = 'Penulis mandiri sekaligus koresponden = 100%';
      } else if (pilihan === '2') {
        this.bobotPersen = 0.6;
        this.nilaiPengusul = this.nilaiTotal * 0.6;
        this.deskripsiPilihan = 'Penulis pertama sekaligus koresponden = 60%';
      } else if (pilihan === '3') {
        this.bobotPersen = 0.5;
        this.nilaiPengusul = this.nilaiTotal * 0.5;
        this.deskripsiPilihan = 'Penulis pertama bukan koresponden atau penulis koresponden bukan penulis pertama, jumlah penulis 2 = 50%';
      } else if (pilihan === '4') {
        this.bobotPersen = 0.4;
        this.nilaiPengusul = this.nilaiTotal * 0.4;
        this.deskripsiPilihan = 'Penulis pertama bukan koresponden atau penulis koresponden bukan penulis pertama, jumlah penulis > 2 = 40%';
      } else if (pilihan === '5') {
        this.bobotPersen = 0.4;
        if (this.karilData.authors !== null) {
          this.nilaiPengusul = (this.nilaiTotal * 0.4) / (this.karilData.authors.length - 1);
        } else {
          this.nilaiPengusul = this.nilaiTotal * 0.4;
        }
        this.deskripsiPilihan = 'Penulis pendamping, penulis pertama sekaligus koresponden = 40% dibagi jumlah penulis pendamping';
      } else if (pilihan === '6') {
        this.bobotPersen = 0.2;
        if (this.karilData.authors !== null) {
          this.nilaiPengusul = (this.nilaiTotal * 0.2) / (this.karilData.authors.length - 1);
        } else {
          this.nilaiPengusul = this.nilaiTotal * 0.2;
        }
        this.deskripsiPilihan = 'Penulis pendamping, penulis pertama bukan koresponden = 20% dibagi jumlah penulis pendamping';
      }
    },
    nilaiAkhir1(val) {
      this.nilaiAkhir1 = val;
      this.nilaiTotal = this.nilaiAkhir1 + this.nilaiAkhir2 + this.nilaiAkhir3 + this.nilaiAkhir4;
    },
    nilaiAkhir2(val) {
      this.nilaiAkhir2 = val;
      this.nilaiTotal = this.nilaiAkhir1 + this.nilaiAkhir2 + this.nilaiAkhir3 + this.nilaiAkhir4;
    },
    nilaiAkhir3(val) {
      this.nilaiAkhir3 = val;
      this.nilaiTotal = this.nilaiAkhir1 + this.nilaiAkhir2 + this.nilaiAkhir3 + this.nilaiAkhir4;
    },
    nilaiAkhir4(val) {
      this.nilaiAkhir4 = val;
      this.nilaiTotal = this.nilaiAkhir1 + this.nilaiAkhir2 + this.nilaiAkhir3 + this.nilaiAkhir4;
    },

    nilaiTotal(){
      this.nilaiPengusul = this.nilaiTotal * this.bobotPersen;
    },

    bobotKategori(val){
      this.totalNilaiMaksimum = val;
      this.maks10 = val * 0.1;
      this.maks30 = val * 0.3;
    }
  },
  methods: {
    submitForm() {
      const data = {
        karil_id: this.karilId,
        reviewer: this.userData.username,
        plagiarism_percentage: this.indikasiPlagiasi,
        linearity: this.linearitas,
        comment_1: this.komentar1,
        score_1: this.nilaiAkhir1,
        comment_2: this.komentar2,
        score_2: this.nilaiAkhir2,
        comment_3: this.komentar3,
        score_3: this.nilaiAkhir3,
        comment_4: this.komentar4,
        score_4: this.nilaiAkhir4,
        proposer_choice: parseInt(this.pilihanPengusul, 10),
        score_proposer: this.nilaiPengusul,
      };
      if (localStorage.access) {
        const accessToken = localStorage.access;
        console.log('mashok');
        const config = {
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
        };
        console.log(data);
        Vue.axios
          .put(`${process.env.VUE_APP_BACKEND_URL || ''}/api/review/review-karil/`, data, config)
          .then((res) => {
            if (res.status === 200) {
              console.log(res.data);
              console.log('Success');
              this.$router.push(`/view-karil?id=${this.karilId}`);
            } else {
              console.log(res.data);
              console.log(res.status);
              alert('Try Again.');
            }
          })
          .catch((err) => {
            console.log(err.response);
          });
      }
    },
    submitDialog() {
      this.dialogSubmit = true;
    },
    checkForm() {
      this.$refs.observer.validate();
      this.submitForm();
    },
    cancel() {
      this.$router.push(`/karil-list`);
    },
  },

  beforeMount() {
    this.karilId = this.$route.query.id;
    console.log(this.karilId);
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const data = {
        karil_id: this.karilId,
      };
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios
        .get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config)
        .then((res) => {
          console.log(res.data);
          if (res.status === 200) {
            this.userData = res.data;
          }
        });
      Vue.axios
        .post(
          `${process.env.VUE_APP_BACKEND_URL || ''}/api/karil/get-karil-form/`,
          data,
          config,
        )
        .then((res) => {
          console.log(res.data);
          if (res.status === 200) {
            this.karilData = res.data;
          }
        });
    } else {
      this.$router.push('/');
    }
  },
};
</script>
