<template>
  <v-container style="margin-top: 2rem; width: 60%; padding: 80px 0">
    <validation-observer ref="observer" v-slot="{ invalid }">
    <v-row class="d-flex justify-center">
      <v-col
        cols="12"
        class="d-flex justify-center"
      >
        <h2>Lupa Password</h2>
      </v-col>
    </v-row>
    <PopupPassword :isActiveProp="myIsActive" :respProp="myResp" :emailProp="myEmail" />
    <v-row justify="center">
      <v-col
        cols="11"
        lg="6"
        md="8"
      >
          <v-form @submit.prevent="checkForm" ref="form" v-model="valid">
              <validation-provider
                v-slot="{ errors }"
                name="username"
                rules="required"
              >
                <v-text-field
                  v-model="username"
                  :error-messages="errors"
                  label="Username*"
                  required
                >
                </v-text-field>
              </validation-provider>
              <v-btn
                class="ml-auto white--text"
                :disabled="invalid"
                type="submit"
                color="#8D38E3"
                width="100%"
                :loading="loading"
              >
                Submit
              </v-btn>
          </v-form>
      </v-col>
    </v-row>
    <v-row justify="center">
      <p>
        Ingat password? <span> <a href="/login">Masuk</a></span>
      </p>
    </v-row>
    </validation-observer>
  </v-container>
</template>

<script>
import Vue from 'vue';
import { setInteractionMode, ValidationObserver, ValidationProvider } from 'vee-validate';
import VueAxios from 'vue-axios';
import axios from 'axios';
import Vuetify from 'vuetify';
import PopupPassword from '../components/PopupPassword.vue';

Vue.use(VueAxios, axios);
Vue.use(Vuetify);
setInteractionMode('eager');
export default {
  name: 'Forget',
  components: {
    ValidationProvider,
    ValidationObserver,
    PopupPassword,
  },
  data() {
    return {
      errors: [],
      username: null,
      loading: false,
      myIsActive: false,
      myResp: 0,
      myEmail: false,
    };
  },
  methods: {
    submitForm() {
      const data = {
        username: this.username,
        // redirect_url: ''
      };

      console.log(data);

      axios
        .post(`${process.env.VUE_APP_BACKEND_URL || ''}/api/auth/request-reset-password/`, data)
        .then(
          (res) => {
            console.log(res.data);
            if (res.status === 200) {
              this.myResp = 200;
              this.myIsActive = true;
              this.myEmail = true;
            } else {
              this.myIsActive = true;
            }
          },
        )
        .catch((error) => {
          if (error.response.status === 404) {
            this.myResp = 404;
            this.myIsActive = true;
            this.myEmail = true;
          } else {
            this.myIsActive = true;
          }
        });
    },
    checkForm() {
      this.loading = true;
      this.$refs.observer.validate();
      this.submitForm();
    },
  },
};
</script>
