<template>
  <div>
    <Navigation />
    <v-container style="width: 100%; padding-top: 90px">
      <v-row>
        <v-col md="4">
        <h1>Daftar Karya Ilmiah</h1>
        </v-col>
        <v-col v-if="canAddKaril" md="4">
          <v-btn
            class="mr-4 white--text"
            :disabled="false"
            color="blue"
            width="100%"
            v-on:click="addRedir()"
          > + Tambah Karya Ilmiah
          </v-btn>
        </v-col>
        <v-col md="4">
          <v-btn
            class="mr-4 white--text"
            :disabled="false"
            color="blue"
            width="100%"
            v-on:click="exportKaril()"
          > ↓ Export Karya Ilmiah
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-if="role == 'Dosen'">
        <v-col md="2">
          <v-btn
            class="mr-4"
            :class="{
              'disable-events': tab === 0,
              'white--text': tab === 0
              }"
            :outlined="tab !== 0"
            color="#8D38E3"
            width="100%"
            v-on:click="setTab(0); updateKarilList(0)"
          > Review Karya Ilmiah
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            class="mr-4"
            :class="{
              'disable-events': tab === 1,
              'white--text': tab === 1
              }"
            :outlined="tab !== 1"
            color="#8D38E3"
            width="100%"
            v-on:click="setTab(1); updateKarilList(1)"
          > Karya Ilmiah Saya
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col md="2">
          <v-btn
            class="mr-4"
            :class="{
              'disable-events': tab === 0,
              'white--text': tab === 0
              }"
            :outlined="tab !== 0"
            color="#8D38E3"
            width="100%"
            v-on:click="setTab(0); updateKarilList(0)"
          > Belum Diassign
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            class="mr-4"
            :class="{
              'disable-events': tab === 1,
              'white--text': tab === 1
              }"
            :outlined="tab !== 1"
            color="#8D38E3"
            width="100%"
            v-on:click="setTab(1); updateKarilList(1)"
          > Belum Direview
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            class="mr-4"
            :class="{
              'disable-events': tab === 2,
              'white--text': tab === 2
              }"
            :outlined="tab !== 2"
            color="#8D38E3"
            width="100%"
            v-on:click="setTab(2); updateKarilList(2)"
          > Telah Direview
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            class="mr-4"
            :class="{
              'disable-events': tab === 3,
              'white--text': tab === 3
              }"
            :outlined="tab !== 3"
            color="#8D38E3"
            width="100%"
            v-on:click="setTab(3); updateKarilList(3)"
          > Semua
          </v-btn>
        </v-col>
      </v-row>

      <br>

      <v-data-table
        v-if="role == 'Dosen'"
        :page="page"
        :headers="headers"
        :items="karilList"
        :item-key="karil_id"
        :search="search"
        class="elevation-1"
      >

        <template v-slot:top>
          <v-container>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            >
            </v-text-field>
          </v-container>
        </template>

        <template v-slot:item.no="{ index }">
          {{ index + 1 }}
        </template>

        <template v-slot:item.action="row">
          <v-card
            class="d-flex flex-nowrap"
            tile
            flat
            color="transparent"
          >
            <v-btn
              v-if="tab == 1"
              small
              depressed
              class="pa-1 mr-1"
              color="success"
              v-on:click="assign(row.item.karil_id)"
            >
            Lihat
            </v-btn>
            <v-btn
              v-if="tab == 0 && row.item.status == 'Reviewed'"
              small
              depressed
              class="white--text pa-1 mr-1"
              color="success"
              v-on:click="viewReview(row.item.karil_id, username)"
            >
            Lihat
            </v-btn>
            <v-btn
              v-else-if="tab == 0 && getStatusReview(row.item.karil_id)"
              small
              depressed
              class="white--text pa-1 mr-1"
              color="success"
              v-on:click="viewReview(row.item.karil_id, username)"
            >
            Lihat
            </v-btn>
            <v-btn
              v-else-if="tab == 0"
              small
              depressed
              class="white--text pa-1 mr-1"
              color="purple"
              v-on:click="review(row.item.karil_id)"
            >
            Review
            </v-btn>
          </v-card>
        </template>

        <template v-slot:item.reviewer="row">
          {{ row.item.reviewers.toString() }}
        </template>

      </v-data-table>

      <v-data-table
        v-else
        :page="page"
        :headers="headers"
        :items="karilList"
        :item-key="karil_id"
        :search="search"
        class="elevation-1"
      >

        <template v-slot:top>
          <v-container>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            >
            </v-text-field>
          </v-container>
        </template>

        <template v-slot:item.no="{ index }">
          {{ index + 1 }}
        </template>

        <template v-slot:item.reviewer="row">
          {{ row.item.reviewers.toString() }}
        </template>

        <template v-slot:item.action="row">
          <v-card
            class="d-flex flex-nowrap"
            tile
            flat
            color="transparent"
          >
            <v-btn
              v-if="!row.item.reviewers.length"
              small
              depressed
              class="white--text pa-1 mr-1"
              color="purple"
              v-on:click="assignReviewer(row.item.karil_id)"
            >
            Assign Reviewer
            </v-btn>
            <v-btn
              small
              depressed
              class="pa-1 mr-1"
              color="success"
              v-on:click="assign(row.item.karil_id)"
            >
            Lihat
            </v-btn>
          </v-card>
        </template>

      </v-data-table>
    </v-container>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import Vuetify from 'vuetify';
import Navigation from '../components/Navigation.vue';

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

export default {
  name: 'table-list',
  components: {
    Navigation,
  },
  data() {
    return {
      headers: [
        { text: 'No.', sortable: false, value: 'no' },
        { text: 'Nama Dosen', value: 'pemilik', sortable: false },
        { text: 'Nama Penulis', value: 'authors', sortable: false },
        { text: 'Judul Karya Ilmiah', value: 'judul', sortable: false },
        // { text: 'Data Jurnal', value: 'journal_data', sortable: false },
        // { text: 'Repository', value: 'link_repo', sortable: false },
        // { text: 'Indexer', value: 'indexer', sortable: false },
        // { text: 'Check Similarity', value: 'link_simcheck', sortable: false },
        { text: 'Reviewer', value: 'reviewer', sortable: false },
        { text: 'Reviewed', value: 'status', sortable: false },
        {
          text: 'Karil Id',
          value: 'karilId',
          align: ' d-none',
        },
        { text: 'Action', value: 'action', sortable: false },
      ],
      karilList: [],
      canAddKaril: false,
      karilListRaw: [],
      search: '',
      tab: 0,
      role: '',
      username: '',
      statusReview: false,
    };
  },
  methods: {
    addRedir() {
      this.$router.push('/add-karil');
    },
    exportKaril() {
      if (localStorage.access) {
        const accessToken = localStorage.access;
        const config = {
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
          responseType: 'blob',
        };
        Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/karil/export-list-karil/`, config).then((res) => {
          if (res.status === 200) {
            const link = document.createElement('a');

            link.href = window.URL.createObjectURL(
              new Blob([res.data]),
            );

            link.setAttribute('download', 'export-karil.xlsx');
            document.body.appendChild(link);
            link.click();
          } else {
            this.$router.push('/');
          }
        }).catch((err) => {
          console.log(err);
        });
      }
    },
    setTab(tabNo) {
      this.tab = tabNo;
    },
    assign(karilId) {
      this.$router.push(`/view-karil?id=${karilId}`);
    },
    review(karilId) {
      this.$router.push(`/create-review?id=${karilId}`);
    },
    viewReview(karilId, reviewer) {
      this.$router.push(`/detail-review?id=${karilId}&reviewer=${reviewer}`);
    },
    assignReviewer(karilId) {
      this.$router.push(`/assign-reviewer?id=${karilId}`);
    },
    updateKarilList(tab) {
      if (this.role === 'Dosen') {
        if (tab === 0) {
          this.karilList = [];
          this.karilListRaw.forEach((element) => {
            if (element.reviewers.includes(this.username)) {
              this.karilList.push(element);
            }
          });
        }
        if (tab === 1) {
          this.karilList = [];
          this.karilListRaw.forEach((element) => {
            if (this.username === element.pemilik) {
              this.karilList.push(element);
            }
          });
        }
      } else {
        if (tab === 0) {
          this.karilList = [];
          this.karilListRaw.forEach((element) => {
            if (!element.reviewers.length) {
              this.karilList.push(element);
            }
          });
        }
        if (tab === 1) {
          this.karilList = [];
          this.karilListRaw.forEach((element) => {
            if (element.status === 'Not Reviewed' && element.reviewers.length) {
              this.karilList.push(element);
            } else if (element.status === 'In Review' && element.reviewers.length) {
              this.karilList.push(element);
            }
          });
        }
        if (tab === 2) {
          this.karilList = [];
          this.karilListRaw.forEach((element) => {
            if (element.status === 'Reviewed') {
              this.karilList.push(element);
            }
          });
        }
        if (tab === 3) {
          this.karilList = [];
          this.karilList = this.karilListRaw;
        }
      }
    },
    getStatusReview(idKaril) {
      let result = false;
      if (localStorage.access) {
        const accessToken = localStorage.access;
        const config = {
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
        };
        Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/review/review-karil/?karil_id=${idKaril}&reviewer=${this.username}`, config).then((res) => {
          if (res.status === 200) {
            if (res.data.status === 'Submited') {
              this.statusReview = true;
            } else {
              this.statusReview = false;
            }
          } else {
            this.statusReview = false;
          }
        }).catch((err) => {
          console.log(err);
          this.statusReview = false;
        });
      }
      console.log(result);
      result = this.statusReview;
      return result;
    },
  },
  beforeMount() {
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };

      Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config).then((res) => {
        if (res.status === 200) {
          this.currentUser = res.data;
          if (this.currentUser.role === 'Admin' || this.currentUser.role === 'SDM PT') {
            this.canAddKaril = true;
          }
        }
      });
      Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config).then((res) => {
        if (res.status === 200) {
          this.role = res.data.role;
          if (this.role === 'Dosen') {
            this.username = res.data.username;
            this.tab = 1;
            Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/karil/manage-karil/`, config).then((ress) => {
              if (ress.status === 200) {
                console.log(ress.data);
                this.karilListRaw = ress.data;
                ress.data.forEach((element) => {
                  if (res.data.username === element.pemilik) {
                    this.karilList.push(element);
                    console.log(element);
                  }
                });
              } else {
                this.$router.push('/');
              }
            }).catch((err) => {
              console.log(err);
            });
          } else {
            this.tab = 3;
            Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/karil/manage-karil/`, config).then((ress) => {
              if (ress.status === 200) {
                console.log(ress.data);
                this.karilListRaw = ress.data;
                this.karilList = ress.data;
              } else {
                this.$router.push('/');
              }
            }).catch((err) => {
              console.log(err);
            });
          }
        } else {
          this.$router.push('/');
        }
      }).catch((err) => {
        console.log(err);
      });
    }
  },
};
</script>
<style>
  @import '../assets/styles/button.css';
</style>
