<template>
  <div
    class="d-flex align-center"
    v-bind:style="{ width: '100%', height: '100%' }"
  >
    <v-card
      flat
      v-bind:style="{ width: '50%', 'background-color': '#8D38E3' }"
      class="d-flex justify-center align-center"
      height="100%"
    >
      <v-img
        :src="require('@/assets/bunderan.svg')"
        class="bunderan"
        contain
        height="100%"
        width="50%"
      />
    </v-card>
    <v-card flat v-bind:style="{ width: '50%' }">
      <v-container style="margin: auto; width: 60%; padding: 150px 0">
        <h2>Masuk Dengan Akun Anda</h2>
        <v-form
          @submit.prevent="submitForm"
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="username"
            label="Username"
            :rules="usernameRules"
            required
          ></v-text-field>

          <v-text-field
            v-model="password"
            label="Password"
            :type="'password'"
            :rules="passRules"
            required
          ></v-text-field>

          <div
            style="margin-top: 10px"
            v-if="password === '' || username === ''"
          >
            <v-btn
              class="mr-4"
              :disabled="true"
              type="submit"
              color="#8D38E3"
              width="100%"
            >
              masuk
            </v-btn>
          </div>
          <div v-else>
            <v-btn
              class="mr-4 white--text"
              :disabled="false"
              type="submit"
              color="#8D38E3"
              width="100%"
            >
              masuk
            </v-btn>
          </div>
        </v-form>
        <br />
        <v-dialog v-model="dialog" max-width="600px">
          <template v-slot:activator="{}">
          <!-- <template v-slot:activator="{ on }"> -->
            <!-- <v-div v-on="on"> -->
            <v-div>
              <GoogleLogin
                  :params="params"
                  :onSuccess="onGoogleSignInSuccess"
                  :onFailure="onGoogleSignInError"
                  v-bind:style="{ width: '100%' }"
                >
                <v-btn
                  class="mr-4 white--text"
                  :disabled="false"
                  color="#2D3748"
                  width="100%"
                >
                  <v-icon small> $custom </v-icon>
                  &nbsp; Masuk dengan Google
                </v-btn>
              </GoogleLogin>
            </v-div>
          </template>

          <v-card>
            <v-card-title class="text-justify"> Silahkan pilih akun </v-card-title>
            <v-layout column align-center justify-center>
              <div class="text-center" v-if="usernameList === undefined">
                <v-progress-circular
                  indeterminate
                  color="primary"
                ></v-progress-circular>
              </div>

              <div
                class="options"
                v-for="option in usernameList"
                :key="option"
                style="padding-bottom: 10px;"
              >
                <v-btn
                  @click.stop="
                    username = option;
                    dialog = false
                  "
                >
                  {{ option }}
                </v-btn>
              </div>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="dialog = false">
                Tutup
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <p style="margin-top: 20px" class="forgot-password">
          <span> <a href="/forgot-password">Lupa Password</a></span>
        </p>
        <p style="" class="register">
          Tidak memiliki akun? <span> <a href="/Register">Daftar</a></span>
        </p>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import Vuetify from 'vuetify';

import { GoogleLogin } from 'vue-google-login';

Vue.use(VueAxios, axios);
Vue.use(Vuetify);

export default {
  name: 'Login',
  components: {
    GoogleLogin,
  },
  // TODO: auto redirect to home page if already authenticated
  data() {
    return {
      errors: [],
      username: '',
      password: '',
      valid: true,
      usernameRules: [(v) => !!v || 'Username is required'],
      passRules: [(v) => !!v || 'Kata sandi tidak sesuai'],
      params: {
        client_id:
          '134932349165-68q55c3kal9gl6sntk5871kfdao5ppeu.apps.googleusercontent.com',
      },
      renderParams: {
        width: 460,
        height: 40,
        longtitle: true,
      },
      dialog: false,
      usernameList: undefined,
    };
  },
  methods: {
    submitForm() {
      if (!this.username) {
        this.errors.push('Username required.');
      }
      if (!this.password) {
        this.errors.push('Kata sandi tidak sesuai');
      }
      if (this.errors.length) {
        let message = '';
        for (let i = 0; i < this.errors.length; i++) {
          message += `${this.errors[i]} `;
        }
        alert(message);
        return;
      }
      const data = {
        username: this.username,
        password: this.password,
      };
      Vue.axios.post(`${process.env.VUE_APP_BACKEND_URL || ''}/api/auth/token/`, data).then((res) => {
        if (res.status === 200) {
          window.localStorage.setItem('refresh', res.data.refresh);
          window.localStorage.setItem('access', res.data.access);
          this.$router.push('/dashboard');
        } else {
          alert('Login gagal');
        }
      })
        .catch((err) => {
        // NOTE: Do not make this more specific, for security reasons.
          if (err.response.status === 401) {
            // Backend accessible, but auth failed
            alert(err.response.data.detail);
          } else {
            // Backend inaccessible (no response)
            alert('Maaf, server SIPEERKI tidak dapat dihubungi.');
          }
        });
    },
    onGoogleSignInSuccess(googleUser) {
      const data = {
        auth_token: googleUser.getAuthResponse().id_token,
      };
      Vue.axios
        .post(`${process.env.VUE_APP_BACKEND_URL || ''}/api/auth/login/google/`, data)
        .then((res) => {
          if (res.status === 200) {
            window.localStorage.setItem('access', res.data?.access);
            window.localStorage.setItem('refresh', res.data?.refresh);
            this.$router.push('/dashboard');
          } else {
            alert(res?.data?.detail || 'Terjadi Kesalahan');
          }
        })
        .catch((err) => {
          alert(err.response?.data?.detail || 'Terjadi Kesalahan');
        });
    },
    onGoogleSignInError(error) {
      console.log('ERROR', error);
      alert('Maaf, layanan Google tidak dapat dihubungi.');
    },
  },
};
</script>
