<template>
  <div>
    <div style="z-index: 99; position: fixed; top: 0">
      <Navigation />
    </div>
    <v-container style="margin-top: 2rem; width: 100%; padding: 80px 80px">
        <v-row>
        <v-col>
        <h1>Panduan {{currentUser.role}}</h1>
        </v-col>
        </v-row>
        <v-row>
            <p>Selamat datang. Silahkan membaca dokumentasi panduan
                 menggunakan sistem SIPEERKI berikut.</p>
        </v-row>
        <v-row>
            <v-expansion-panels
      v-model="panel"
      multiple
    >
      <v-expansion-panel>
        <v-expansion-panel-header><h4>Cara Pemakaian Sistem</h4></v-expansion-panel-header>
        <v-expansion-panel-content v-if="isAdmin">
          Sebagai <b>Admin</b>, Anda dapat menambah karya ilmiah
           untuk direview, mengedit dan menghapus karya ilmiah serta assign
           reviewer untuk mereview karya ilmiah. Anda juga dapat menerima permintaan
           approval akun dan hapus akun. <br><br>
        </v-expansion-panel-content>
        <v-expansion-panel-content v-if="isDosen">
          Sebagai <b>Dosen</b>, Anda dapat menambah karya ilmiah
           untuk direview, mengedit karya ilmiah jika belum di-assign kepada reviewer.
           Jika Anda mengubah karya ilmiah yang telah selesai, maka karya ilmiah
           tersebut akan kembali direview oleh Reviewer. <br><br>
        </v-expansion-panel-content>
        <v-expansion-panel-content v-if="isSDMPT">
          Sebagai <b>SDM PT</b>, Anda dapat menambah karya ilmiah untuk
          direview, mengedit karya ilmiah jika belum di-assign kepada reviewer.
          Anda juga dapat menerima permintaan approval akun <br><br>
        </v-expansion-panel-content>
        <v-expansion-panel-content v-if="isGuest">
          Sebagai <b>Guest</b>, akun Anda perlu di-approve
          terlebih dahulu oleh Admin <br><br>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="isAdmin || isDosen || isSDMPT">
        <v-expansion-panel-header><h4>Langkah Menambah Karya Ilmiah</h4></v-expansion-panel-header>
        <v-expansion-panel-content>
          <b>1.</b> Tekan <b>"DAFTAR KARYA ILMIAH"</b> pada Navbar untuk masuk ke
          dalam halaman Daftar Karya Ilmiah.<br>
          <b>2.</b> Tekan <b>"+ TAMBAH KARYA ILMIAH"</b><br>
          <b>3.</b> Masukkan informasi karya ilmiah yang diperlukan<br>
          <b>4.</b> Tekan <b>"SUBMIT"</b><br>
          <v-img :src="require('@/assets/submit.svg')" height="50px" width="150px" contain/>
          <b>5.</b> Karya Ilmiah berhasil ditambahkan<br>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="isAdmin || isDosen || isSDMPT">
        <v-expansion-panel-header><h4>Langkah Mengedit Karya Ilmiah</h4></v-expansion-panel-header>
        <v-expansion-panel-content>
          <b>1.</b> Tekan <b>"DAFTAR KARYA ILMIAH"</b> pada Navbar untuk masuk ke
          dalam halaman Daftar Karya Ilmiah.<br>
          <b>2.</b> Tekan <b>"LIHAT"</b> pada karya ilmiah yang sudah
          diasssign reviewer dan ingin diubah<br>
          <b>3.</b> Tekan <b>"EDIT KARYA ILMIAH"</b><br>
          <v-img :src="require('@/assets/editKaryaIlmiah.svg')"
          height="50px" width="150px" contain/>
          <b>4.</b> Masukkan informasi karya ilmiah yang ingin diubah<br>
          <b>5.</b> Tekan <b>"EDIT"</b><br>
          <v-img :src="require('@/assets/edit.svg')" height="50px" width="150px" contain/>
          <b>6.</b> Karya Ilmiah berhasil diubah<br>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- <v-expansion-panel v-if="isAdmin">
        <v-expansion-panel-header>
          <h4>Langkah Menghapus Karya Ilmiah</h4>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <b>1.</b> Tekan <b>"DAFTAR KARYA ILMIAH"</b> pada Navbar
          untuk masuk ke dalam halaman Daftar Karya Ilmiah.<br>
          <b>2.</b> Tekan <b>"HAPUS"</b> pada karya ilmiah yang ingin dihapus<br>
          <b>3.</b> Karya Ilmiah berhasil dihapus<br>
        </v-expansion-panel-content>
      </v-expansion-panel> -->

      <v-expansion-panel v-if="isAdmin || isSDMPT">
        <v-expansion-panel-header><h4>
          Langkah Melakuan Assign Reviewer</h4>
          </v-expansion-panel-header>
        <v-expansion-panel-content>
          <b>1.</b> Tekan <b>"DAFTAR KARYA ILMIAH"</b> pada
          Navbar untuk masuk ke dalam halaman Daftar Karya Ilmiah.<br>
          <b>2.</b> Tekan <b>"ASSIGN REVIEWER"</b> pada
          karya ilmiah yang ingin dilakukan assign reviewer<br>
          <b>3.</b> Pilih reviewer yang akan diassign<br>
          <b>4.</b> Tekan <b>"ACCEPT"</b><br>
          <v-img :src="require('@/assets/accept.svg')" height="40px" width="85px" contain/>
          <b>5.</b> Assign reviewer berhasil dilakukan<br>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="isAdmin || isSDMPT">
        <v-expansion-panel-header><h4>Langkah Approval Akun</h4></v-expansion-panel-header>
        <v-expansion-panel-content>
          <b>1.</b> Tekan <b>"DAFTAR AKUN"</b> pada Navbar
          untuk masuk ke dalam halaman Daftar Akun.<br>
          <b>2.</b> Tekan <b>"SETUJUI"</b> pada akun yang ingin dilakukan approval<br>
          <v-img :src="require('@/assets/setujui.svg')" height="40px" width="85px" contain/>
          <b>3.</b> Akun berhasil disetujui<br>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="isAdmin">
        <v-expansion-panel-header><h4>Langkah Menghapus Akun</h4></v-expansion-panel-header>
        <v-expansion-panel-content>
          <b>1.</b> Tekan <b>"DAFTAR AKUN"</b> pada Navbar
          untuk masuk ke dalam halaman Daftar Akun.<br>
          <b>2.</b> Tekan <b>"HAPUS"</b> pada akun yang ingin dihapusl<br>
          <v-img :src="require('@/assets/hapus.svg')" height="40px" width="80px" contain/>
          <b>3.</b> Akun berhasil dihapus<br>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header><h4>Macam-macam Karya Ilmiah
            dan Angka Kredit</h4></v-expansion-panel-header>
        <v-expansion-panel-content>
          Informasi rinci mengenai jenis karil yang bisa dinilai serta angka kredit,
          dapat dilihat pada Pedoman Operasional PAK (Penilaian Angka Kredit) 2019 melalui:
          <a>https://pak.kemdikbud.go.id/portalv2/download/2868/</a>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header><h4>Contact Person</h4></v-expansion-panel-header>
        <v-expansion-panel-content>
          Jika Anda memiliki pertanyaan seputar SIPEERKI (Sistem Peer Review Karya Ilmiah),
           Anda dapat menghubungi admin SIPRD melalui email <a>pplvande@gmail.com</a>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
        </v-row>
    </v-container>

  </div>
</template>

<script>
import Vue from 'vue';
import Navigation from '../components/Navigation.vue';

export default {
  name: 'Home',

  data() {
    return {
      currentUser: '',
      isAdmin: false,
      isDosen: false,
      isSDMPT: false,
      isGuest: false,
    };
  },

  components: {
    Navigation,
  },

  beforeMount() {
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios.get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config).then((res) => {
        if (res.status === 200) {
          this.currentUser = res.data;
          if (this.currentUser.role === 'Admin') {
            this.isAdmin = true;
          } else if (this.currentUser.role === 'Dosen') {
            this.isDosen = true;
          } else if (this.currentUser.role === 'SDM PT') {
            this.isSDMPT = true;
          } else {
            this.isGuest = true;
          }
        }
      });
    }
  },

};
</script>
