<template>
  <v-container style="margin-top: 2rem; width: 60%; padding: 80px 0">
    <validation-observer ref="observer" v-slot="{ invalid }">
      <h2>Buat Akun Baru</h2>
      <br />
      <v-form @submit.prevent="checkForm" ref="form" v-model="valid" lazy-validation>
        <v-row>
          <v-col md="5">
            <validation-provider
                v-slot="{ errors }"
                name="Email"
                rules="required|email"
            >
              <v-text-field
                v-model="email"
                :error-messages="errors"
                label="Email*"
                required
                :filled="googleSigned"
                :readonly="googleSigned"
              >
              </v-text-field>
            </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Username"
              rules="required"
            >
              <v-text-field
                v-model="username"
                :error-messages="errors"
                label="Username*"
                required
              >
              </v-text-field>
            </validation-provider>

            <validation-provider
              name="Universitas"
            >
              <v-text-field
                v-model="university"
                label="Universitas"
              >
              </v-text-field>
            </validation-provider>

            <validation-provider v-slot="{ errors }" name="Bidang Keahlian">
              <v-text-field
                v-model="fieldOfStudy"
                :error-messages="errors"
                label="Bidang Keahlian"
              >
              </v-text-field>
            </validation-provider>

            <validation-provider v-slot="{ errors }" name="Jabatan" rules="required">
              <v-select
                v-model="position"
                :items="posSelect"
                :error-messages="errors"
                label="Jabatan*"
                data-vv-name="select"
                required
              >
              </v-select>
            </validation-provider>
          </v-col>

          <v-col md="5" class="ml-auto">
              <validation-provider
                v-slot="{ errors }"
                name="Nama Lengkap"
                rules="required"
              >
                <v-text-field
                  v-model="fullName"
                  :error-messages="errors"
                  label="Nama Lengkap*"
                  required
                >
                </v-text-field>
              </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Password"
              :rules="googleSigned && required"
            >
              <v-text-field
                v-model="password"
                :error-messages="errors"
                :label="googleSigned ? 'Password' : 'Password*' "
                :type="'password'"
                :required="!googleSigned"
                :filled="googleSigned"
                :readonly="googleSigned"
              >
              </v-text-field>
            </validation-provider>

            <validation-provider v-slot="{ errors }" name="NIP" rules="numeric">
              <v-text-field
                v-model="nip"
                :error-messages="errors"
                label="NIP"
                numeric
              >
              </v-text-field>
            </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Role"
              rules="required"
            >
              <v-select
                v-model="role"
                :items="roleSelect"
                :error-messages="errors"
                label="Role*"
                data-vv-name="select"
                required
              >
              </v-select>
            </validation-provider>
          </v-col>
        </v-row>

        Required*
        <v-row>
          <v-col md="5">
            <v-btn
              class="ml-auto white--text"
              :disabled="invalid"
              type="submit"
              color="#8D38E3"
              width="100%"
              v-on:click="submitForm"
            >
              Daftar
            </v-btn>
          </v-col>
          <v-col md="5" class="ml-auto">
            <GoogleLogin
              :params="params"
              :onSuccess="onGoogleSignInSuccess"
              :onFailure="onGoogleSignInError"
              v-bind:style="{ width: '100%' }"
            >
              <v-btn
                class="mr-4 white--text"
                :disabled="false"
                color="#2D3748"
                width="100%"
              >
                <v-icon small> $custom </v-icon>
                &nbsp; Daftar dengan Google
              </v-btn>
            </GoogleLogin>
          </v-col>
        </v-row>
      </v-form>
    </validation-observer>
    <br />
    <p>Sudah punya akun? <a v-on:click="loginRedir">Masuk</a></p>
  </v-container>
</template>

<script>
import Vue from 'vue';
import { required, email, numeric } from 'vee-validate/dist/rules';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from 'vee-validate';
import GoogleLogin from 'vue-google-login';

setInteractionMode('eager');

extend('required', {
  ...required,
  message: '{_field_} tidak boleh kosong',
});

extend('email', {
  ...email,
  message: 'Pastikan Email anda benar',
});

extend('numeric', {
  ...numeric,
  message: '{_field_} hanya berupa angka.',
});
export default {
  name: 'Register',
  components: {
    ValidationProvider,
    ValidationObserver,
    GoogleLogin,
  },
  data() {
    return {
      errors: [],
      email: null,
      username: null,
      fullName: null,
      password: null,
      nip: null,
      university: null,
      fieldOfStudy: null,
      position: null,
      auth_token: 'no_token',
      posSelect: [
        'Asisten Ahli',
        'Lektor',
        'Lektor Kepala',
        'Guru Besar/Professor',
        'Tanpa Jabatan',
      ],
      role: null,
      roleSelect: ['Dosen', 'SDM PT', 'Admin'],
      user: {},
      params: {
        client_id:
          '134932349165-68q55c3kal9gl6sntk5871kfdao5ppeu.apps.googleusercontent.com',
      },
      renderParams: {
        width: 357,
        longtitle: true,
      },
      googleSigned: false,
    };
  },
  methods: {
    submitForm() {
      const data = {
        username: this.username,
        email: this.email,
        password: this.password,
        full_name: this.fullName,
        university: this.university,
        nip: this.nip,
        field_of_study: this.fieldOfStudy,
        position: this.position,
        role: this.role,
        auth_token: this.auth_token,
      };
      Vue.axios
        .post(`${process.env.VUE_APP_BACKEND_URL || ''}/api/auth/register`, data)
        .then((res) => {
          if (res.status === 201) {
            this.$router.push('/welcome');
          } else {
            let errResponseData = '';
            errResponseData = res.response.data;
            const responseErrors = JSON.stringify(errResponseData);
            alert(responseErrors);
          }
        })
        .catch((err) => {
          // TODO: Make this output more user-friendly!!!
          // Clean string up with a function?
          let errResponseData = '';
          errResponseData = err.response.data;
          const responseErrors = JSON.stringify(errResponseData);
          alert(responseErrors);
        });
    },

    checkForm() {
      this.$refs.observer.validate();
    },

    loginRedir() {
      this.$router.push('/dashboard');
    },

    onGoogleSignInSuccess(googleUser) {
      const authResponse = googleUser.getAuthResponse();
      const user = googleUser.getBasicProfile();
      this.email = user.getEmail();
      this.username = user.getEmail().split('@')[0];
      this.fullName = user.getName();
      this.password = '';
      this.auth_token = authResponse.id_token;
      this.googleSigned = true;
    },
    onGoogleSignInError(error) {
      console.log('ERROR', error);
      alert('Gagal registrasi dengan Google');
    },
  },
};
</script>
