<template>
  <v-container style="margin-top: 2rem; width: 60%; padding: 80px 0">
    <v-row justify="center">
      <v-col
        cols="12"
        class="d-flex justify-center"
      >
        <h2>Mengatur ulang password</h2>
      </v-col>
    </v-row>
    <PopupPassword :isActiveProp="myIsActive" :respProp="myResp" :emailProp="myEmail" />
    <v-row justify="center">
      <v-col
        cols="6"
      >
        <validation-observer ref="observer" v-slot="{ invalid }" >
          <v-form @submit.prevent="checkForm" ref="form" v-model="valid" >
            <validation-provider
            v-slot="{ errors }"
            name="password"
            rules="required|min:6"
            vid="password"
          >
            <v-text-field
              v-model="password"
              :error-messages="errors"
              label="Password*"
              type="password"
              required
            >
            </v-text-field>
          </validation-provider>

            <validation-provider
            v-slot="{ errors }"
            name="re-password"
            rules="required|min:6|confirmed:password"
          >
            <v-text-field
              v-model="confirmPassword"
              :error-messages="errors"
              label="confirmPassword*"
              type="password"
              required
            >
            </v-text-field>
          </validation-provider>

            <v-btn
              class="ml-auto white--text"
              :disabled="invalid"
              type="submit"
              color="#8D38E3"
              width="100%"
              :loading="loading"
            >
              Submit
            </v-btn>
          </v-form>
        </validation-observer>
      </v-col>

    </v-row>

  </v-container>
</template>

<script>
import Vue from 'vue';
import { required, min, confirmed } from 'vee-validate/dist/rules';
import {
  extend, setInteractionMode, ValidationObserver, ValidationProvider,
} from 'vee-validate';
import VueAxios from 'vue-axios';
import axios from 'axios';
import Vuetify from 'vuetify';
import PopupPassword from '../components/PopupPassword.vue';

Vue.use(VueAxios, axios);
Vue.use(Vuetify);
setInteractionMode('eager');

extend('min', {
  ...min,
  message: '{_field_} may not be lower than {length} characters',
});

extend('required', {
  ...required,
  message: '{_field_} can not be empty',
});

extend('confirmed', {
  ...confirmed,
  message: "password didn't match",
});

export default {
  name: 'ResetPassword',
  components: {
    ValidationProvider,
    ValidationObserver,
    PopupPassword,
  },
  data() {
    return {
      password: null,
      confirmPassword: null,
      loading: false,
      myIsActive: false,
      myResp: 0,
      myEmail: false,
    };
  },
  methods: {
    submitForm() {
      if (this.password !== this.confirmPassword) {
        alert("Password didn't match");
        return;
      }
      console.log(this.$route.params.token, this.confirmPassword, this.$route.params.uidb);
      const data = {
        password: this.confirmPassword,
        token: this.$route.params.token,
        uidb64: this.$route.params.uidb,
      };
      axios
        .patch(`${process.env.VUE_APP_BACKEND_URL || ''}/api/auth/password-reset-complete/`, data)
        .then((res) => {
          if (res.status === 200) {
            this.myResp = 200;
            this.myIsActive = true;
          } else {
            this.myIsActive = true;
          }
        })
        .catch(() => {
          this.myIsActive = true;
        });
    },
    checkForm() {
      this.loading = true;
      this.$refs.observer.validate();
      this.submitForm();
    },
  },
};
</script>
