<template>
  <div>
    <Navigation />
    <v-container style="margin: auto; width: 60%; padding: 70px; padding-top: 85px">
      <h1>Welcome, {{ userData.full_name }}</h1>
      <br /><br />
      <v-btn
        v-if="userData.role === 'Dosen'"
        outlined
        class="blue--text"
        v-on:click="panduanDosen"
      >
        Panduan Dosen
      </v-btn>
      <v-btn
        v-if="userData.role === 'Reviewer'"
        outlined
        class="blue--text"
        v-on:click="panduanReviewer"
      >
        Panduan Reviewer
      </v-btn>
      <v-btn
        v-if="userData.role === 'SDM PT'"
        outlined
        class="blue--text"
        v-on:click="panduanSDMPT"
      >
        Panduan SDM PT
      </v-btn>
      <v-btn
        v-if="userData.role === 'Admin'"
        outlined
        class="blue--text"
        v-on:click="panduanAdmin"
      >
        Panduan Admin </v-btn
      ><br /><br />

      <v-btn outlined class="blue--text" v-on:click="editUser">
        Edit Akun </v-btn
      ><br /><br />
      <v-div v-if="userData.auth_provider == 'email'">
        <v-btn outlined class="blue--text" v-on:click="changePassword">
          Ganti Password </v-btn
        ><br /><br />
        </v-div>
      <v-btn outlined class="blue--text" v-on:click="addKaril">
        Submit Karil </v-btn
      ><br /><br />
      <v-btn outlined class="blue--text" v-on:click="editKaril">
        Edit Karil </v-btn
      ><br /><br />
      <v-btn outlined class="red--text" v-on:click="logoutUser"> Logout </v-btn>
    </v-container>
  </div>
</template>

<script>
import VueAxios from 'vue-axios';
import Vue from 'vue';
import axios from 'axios';
import Navigation from '../components/Navigation.vue';

// import Vuetify from "vuetify";

Vue.use(VueAxios, axios);

export default {
  name: 'Success',
  components: {
    Navigation,
  },
  data() {
    return {
      userData: '',
      isLoaded: false,
    };
  },
  methods: {
    logoutUser() {
      console.log('enter');
      localStorage.removeItem('access');
      localStorage.removeItem('refresh');
      this.$router.push('/');
    },
    editUser() {
      this.$router.push('/edit-account');
    },

    addKaril() {
      this.$router.push('/add-karil');
    },

    editKaril() {
      this.$router.push('/edit-karil');
    },

    changePassword() {
      this.$router.push('/change-password');
    },

    panduanDosen() {
      this.$router.push('/dashboard');
    },
    panduanReviewer() {
      this.$router.push('/dashboard');
    },
    panduanSDMPT() {
      this.$router.push('/dashboard');
    },
    panduanAdmin() {
      this.$router.push('/dashboard');
    },
  },
  beforeMount() {
    if (localStorage.access) {
      console.log(localStorage.access);
      console.log(localStorage.refresh);
      const accessToken = localStorage.access;
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios
        .get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config)
        .then((res) => {
          console.log(res.data);
          if (res.status === 200) {
            this.userData = res.data;
          }
        })
        .finally(() => {
          this.isLoaded = true;
        });
    } else {
      this.$router.push('/');
    }
  },
};
</script>
