<template>
  <div>
    <Navigation />
    <v-container style="width: 100%; padding-top: 90px">
          <v-row>
            <v-col>
              <h1>Review Karya Ilmiah</h1>
            </v-col>

          <v-col md="2" class="mr-auto">
            <v-btn
              class="mr-4 white--text"
              color="blue"
              width="100%"
              v-on:click="exportReview"
            > Download to Excel
            </v-btn>
          </v-col>

          <v-col md="2" class="mr-auto">
            <v-btn
              v-on:click="cancel"
              class="mr-4 white--text"
              color="error"
              width="100%"
            > Kembali
            </v-btn>
          </v-col>
          </v-row>
          <v-row>
            <v-col md="3" class="mr-auto">
              Dosen : {{ karilData.pemilik }} <br />
              Jabatan: {{ karilData.position }} <br />
              Kenaikan Jabatan: {{ karilData.promotion }}
            </v-col>
          </v-row>

          <div
            class="identitas"
            style="margin-top: 2rem; width: 100%"
            justify="center"
          >
          <v-card class="pa-10 rounded-xl mt-5" elevation="5" style="width: 100%">
          <v-row>
            <v-col cols="12" class="text-center mb-5">
              <h1>Identitas Karya Ilmiah</h1>
            </v-col>
            <v-col cols="12" sm="3"> Nama Pengusul </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.pemilik }}
            </v-col>
            <v-col cols="12" sm="3"> Judul Karya Ilmiah </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.judul }}
            </v-col>
            <v-col cols="12" sm="3"> Data Jurnal </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.journal_data }}
            </v-col>
            <v-col cols="12" sm="3"> Nama Penulis </v-col>
            <v-col cols="12" sm="9">
              <ol>
                <li v-for="(penulis, index) in karilData.authors" :key="index">
                  {{ penulis }}
                </li>
              </ol>
            </v-col>
            <v-col cols="12" sm="3"> Link Asli Jurnal </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="karilData.link_origin">
                {{ karilData.link_origin }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Repository </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="karilData.link_origin">
                {{ karilData.link_repo }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Indexer </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="karilData.link_origin">
                {{ karilData.link_indexer }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Check Similarity </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="karilData.link_origin">
                {{ karilData.link_simcheck }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Bukti Korespondensi </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="karilData.link_origin">
                {{ karilData.link_correspondence }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Peng-index </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.indexer }}
            </v-col>
            <v-col cols="12" sm="3"> Kategori Karya Ilmiah </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.category }}
            </v-col>
          </v-row>
        </v-card>
          </div>

          <div
            style="margin-top: 2rem; width: 100%"
            justify="center">
            <v-card class="rounded-xl">
            <v-row align="center" justify="center" row-gap="30px">
              <v-col align="center">
                <h1>Hasil Penilaian Validasi</h1>
              </v-col>
            </v-row>

            <v-row align="center" justify="center">
              <v-col md="3" align="right"> Indikasi Plagiarisme </v-col>
              <v-col md="2">
                  {{ reviewData.plagiarism_percentage }}
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col md="3" align="right"> Linearitas </v-col>
              <v-col md="2">
                  {{ reviewData.linearity }}
              </v-col>
            </v-row>
            </v-card>
          </div>
          <div
            style="margin-top: 2rem; "
            justify="center">
            <v-card class="rounded-xl" style="padding: 3%;">
            <v-row align="center" justify="center" row-gap="10px">
              <v-col align="center">
                <h1>
                  Hasil Penilaian Peer Review
<v-dialog
      v-model="dialog"
      width="800px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          @click="info"
          v-bind="attrs"
          v-on="on"
        >
          mdi-information-outline
        </v-icon>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Petunjuk Pengisian Kolom Uraian untuk Penilaian Peer Review</span>
        </v-card-title>
        <v-card-text>
          <ol>
            <li>Kelengkapan dan kesesuaian unsur publikasi (10%)</li>
            <ol type="a">
              <li>Kelengkapan: Sistematika sesuai penulisan Intruction for Authors</li>
              <li>Kesesuaian: Ada tidak benang merah antara TITLE dengan IMRaDC</li>
            </ol>
            <li>Ruang lingkup, kedalaman pembahasan, keterbaruan (30%)</li>
            <ol type="a">
              <li>Ruang Lingkup: Kesesuaian Bidang Ilmu Penulis</li>
              <li>Kedalaman: % (persentase) yang dilibatkan dalam proses membahas</li>
              <li>Keterbaruan: Keterbaruan artikel yang dibahas</li>
            </ol>
            <li>Kecukupan dan kemutakhiran data/informasi dan metodologi (30%)</li>
            <ol type="a">
              <li>Kecukupan/Kemuktahiran: Tinjauan Pustaka Primer dan masa
                 (misalnya 5 - 10 tahun terakhir)</li>
              <li>Metodology: Adakah unsur novelty (inovasi dan invensi) </li>
            </ol>
            <li>Kelengkapan unsur dan kualitas penerbit, hasil dan manfaat (30%)</li>
            <ol type="a">
              <li>Cek Online Artikel: ada/tidak</li>
              <li>Cek Kebenaran ISSN/ISBN</li>
              <li>Cek Apakah termasuk "Predatory"/tidak (baik jurnal maupun penerbit</li>
              <li>Cek Konsistensi penulisan antara "Intruction for Author" dengan fakta artikel</li>
              <li>Cek Kategori Nasioan atau Internasional</li>
              <li>Cek Indexting Jurnal</li>
              <li>Cek syarat komposisi "Editor Board"</li>
              <li>Cek syarat kontributor penulis artikel</li>
              <li>Cek keberkalaan penerbitan</li>
            </ol>
          </ol>
        </v-card-text>
        <v-card-actions class="justify-end">
              <v-btn
                text
                @click="dialog = false"
              >Tutup</v-btn>
            </v-card-actions>
      </v-card>
    </v-dialog>
                </h1>
              </v-col>
            </v-row>
            <div>
              <v-row>
                <v-col></v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Kelengkapan dan Kesesuaian Unsur Publikasi (10%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Ruang lingkup, kedalaman pembahasan, kebaruan (30%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Kecupukuan dan kemutakhiran data/infromasi dan metodologi (30%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Kelengkapan unsur dan kualitas penerbit, hasil dan manfaat (30%)
                  </p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    Total
                  </p>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <p class="font-weight-medium">
                    Komentar
                  </p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.comment_1 }}</p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.comment_2 }}</p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.comment_3 }}</p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.comment_4 }}</p>
                </v-col>
                <v-col></v-col>
              </v-row>

              <v-row>
                <v-col>
                  <p class="font-weight-medium">
                    Nilai Akhir
                  </p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.score_1 }}</p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.score_2 }}</p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.score_3 }}</p>
                </v-col>
                <v-col>
                    <p class="text-center">{{ reviewData.score_4 }}</p>
                </v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    {{reviewData.score_1 + reviewData.score_2 +
                    reviewData.score_3 + reviewData.score_4}}
                  </p>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <p class="font-weight-medium">
                    Nilai Maksimum
                  </p>
                </v-col>
                <v-col><p class="text-center">4</p></v-col>
                <v-col><p class="text-center">12</p></v-col>
                <v-col><p class="text-center">12</p></v-col>
                <v-col><p class="text-center">12</p></v-col>
                <v-col>
                  <p class="font-weight-medium text-center">
                    40
                  </p>
                </v-col>
              </v-row>
            </div>
            </v-card>
          </div>
          <div
            style="margin-top: 2rem; width: 100%"
            justify="center">
          <v-card class="rounded-xl" style="margin-bottom:100px;">
          <v-col align="center">
            <h1>Nilai Pengusul</h1>
          </v-col>
            <v-row align="center" justify="center">
              <v-col md="3" align="center"> Nilai Pengusul </v-col>
              <v-col md="2">
                  {{ reviewData.score_proposer }}
              </v-col>
            </v-row>
          </v-card>
          </div>
    </v-container>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import Vuetify from 'vuetify';
import Navigation from '../components/Navigation.vue';

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

export default {
  name: 'CreateReview',
  components: {
    Navigation,
  },
  data() {
    return {
      userData: '',
      karilData: '',
      reviewData: '',
      reviewId: null,
      namaPenulis: null,
      judulKaril: null,
      dataJurnal: null,
      linkAsli: null,
      linkRepo: null,
      linkIndexer: null,
      linkCheck: null,
      linkBukti: null,
      pengIndex: null,
      kategori: null,
      status: 'Requested',
      karilId: null,
      reviewer: null,
      indikasiPlagiasi: null,
      linearitas: null,
      komentar1: null,
      nilaiAkhir1: 0,
      komentar2: null,
      nilaiAkhir2: 0,
      komentar3: null,
      nilaiAkhir3: 0,
      komentar4: null,
      nilaiAkhir4: 0,
      nilaiPengusul: null,
      dialog: false,
      reviewsData: '',
    };
  },
  methods: {
    cancel() {
      this.$router.push('/karil-list');
    },

    exportReview() {
      if (localStorage.access) {
        const accessToken = localStorage.access;
        const config = {
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
          responseType: 'blob',
        };
        const data = {
          karilData: this.karilData,
          reviewData: this.reviewData,
        };
        Vue.axios.post(`${process.env.VUE_APP_BACKEND_URL || ''}/api/review/export-review/`, data, config).then((res) => {
          if (res.status === 200) {
            const link = document.createElement('a');

            link.href = window.URL.createObjectURL(
              new Blob([res.data]),
            );

            link.setAttribute('download', 'export-review.xlsx');
            document.body.appendChild(link);
            link.click();
          } else {
            this.$router.push('/');
          }
        }).catch((err) => {
          console.log(err);
        });
      }
    },
  },

  beforeMount() {
    this.karilId = this.$route.query.id;
    this.reviewer = this.$route.query.reviewer;
    console.log(':');
    console.log(this.karilId);
    console.log(this.reviewer);
    console.log(':');
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const data = {
        karil_id: this.karilId,
        reviewer: this.reviewer,
      };
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios
        .get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/user`, config)
        .then((res) => {
          console.log(res.data);
          if (res.status === 200) {
            this.userData = res.data;
          }
        });
      Vue.axios
        .post(
          `${process.env.VUE_APP_BACKEND_URL || ''}/api/karil/get-karil-form/`,
          data,
          config,
        )
        .then((res) => {
          console.log(res.data);
          if (res.status === 200) {
            this.karilData = res.data;
          }
        });
      Vue.axios
        .get(`${process.env.VUE_APP_BACKEND_URL || ''}/api/review/review-karil/?karil_id=${this.karilId}&?reviewer=${this.reviewer}`, config)
        .then((res) => {
          console.log('help');
          console.log(res.data);
          if (res.status === 200) {
            this.reviewData = res.data;
          }
          console.log(this.reviewData);
        });
    } else {
      this.$router.push('/');
    }
  },
};
</script>
