<template>
  <div>
    <Navigation />
    <v-container style="width: 100%; padding-top: 90px">
      <validation-observer ref="observer">
        <v-row>
          <v-col>
            <h1>Detail Karya Ilmiah</h1>
          </v-col>
          <v-col md="2" class="mr-auto">
            <v-btn
              class="mr-4 white--text"
              color="purple"
              v-on:click="editKaril(karilData.karil_id)"
              width="100%"
            >
              Edit Karya Ilmiah
            </v-btn>
          </v-col>
          <!-- <v-col md="2" class="mr-auto">
            <v-btn
              class="mr-4 white--text"
              v-on:click="assignReviewer(karilData.karil_id)"
              color="success"
              width="100%"
            > Assign Reviewer
            </v-btn>
          </v-col> -->
        </v-row>

        <v-row>
          <v-col md="3" class="mr-auto">
            Dosen : {{ karilData.pemilik }} <br />
            Jabatan: {{ karilData.position }} <br />
            Kenaikan Jabatan: {{ karilData.promotion }}
          </v-col>
        </v-row>

        <v-card class="pa-10 rounded-xl mt-5" elevation="5" style="width: 100%">
          <v-row>
            <v-col cols="12" class="text-center mb-5">
              <h1>Identitas Karya Ilmiah</h1>
            </v-col>
            <v-col cols="12" sm="3"> Nama Pengusul </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.pemilik }}
            </v-col>
            <v-col cols="12" sm="3"> Judul Karya Ilmiah </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.judul }}
            </v-col>
            <v-col cols="12" sm="3"> Data Jurnal </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.journal_data }}
            </v-col>
            <v-col cols="12" sm="3"> Nama Penulis </v-col>
            <v-col cols="12" sm="9">
              <ol>
                <li v-for="(penulis, index) in karilData.authors" :key="index">
                  {{ penulis }}
                </li>
              </ol>
            </v-col>
            <v-col cols="12" sm="3"> Link Asli Jurnal </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="`${karilData.link_origin}`">
                {{ karilData.link_origin }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Repository </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="`${karilData.link_repo}`">
                {{ karilData.link_repo }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Indexer </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="`${karilData.link_indexer}`">
                {{ karilData.link_indexer }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Check Similarity </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="`${karilData.link_simcheck}`">
                {{ karilData.link_simcheck }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Link Bukti Korespondensi </v-col>
            <v-col cols="12" sm="9">
              <a target="_blank" :href="`${karilData.link_correspondence}`">
                {{ karilData.link_correspondence }}
              </a>
            </v-col>
            <v-col cols="12" sm="3"> Peng-index </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.indexer }}
            </v-col>
            <v-col cols="12" sm="3"> Kategori Karya Ilmiah </v-col>
            <v-col cols="12" sm="9">
              {{ karilData.category }}
            </v-col>
          </v-row>
        </v-card>

        <v-card
          class="pa-10 rounded-xl my-10"
          elevation="5"
          style="width: 100%"
          v-for="reviewer in reviewers"
          :key="reviewer"
          justify="center"
        >
          <v-row align="center" justify="center" row-gap="30px">
            <v-col align="center">
              <h1>Reviewer</h1>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="3"> Nama </v-col>
            <v-col cols="12" sm="9">
              {{ reviewer.full_name }}
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="3"> NIP </v-col>
            <v-col cols="12" sm="9">
              {{ reviewer.nip }}
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="3"> Unit Kerja </v-col>
            <v-col cols="12" sm="9">
              {{ reviewer.field_of_study }}
            </v-col>
          </v-row>
          <v-row>
            <v-btn
              class="white--text"
              style="margin-left: auto; margin-right: auto"
              v-on:click="viewReview(karilData.karil_id, reviewer.username)"
              color="purple"
            >
              Lihat Review
            </v-btn>
          </v-row>
        </v-card>
      </validation-observer>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
import Vuetify from "vuetify";
import { ValidationObserver } from "vee-validate";
import Navigation from "../components/Navigation.vue";

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

export default {
  name: "AssignReviewer",
  components: {
    ValidationObserver,
    Navigation,
  },
  data() {
    return {
      karilData: "",
      namaPengusul: null,
      authors: [],
      judulKaril: null,
      dataJurnal: null,
      linkAsli: null,
      linkRepo: null,
      linkIndexer: null,
      linkCheck: null,
      linkBukti: null,
      pengIndex: null,
      kategori: null,
      status: "Requested",
      karilId: null,
      reviewers: "",
    };
  },
  methods: {
    checkForm() {
      this.$refs.observer.validate();
      this.submitForm();
    },

    editKaril(karilId) {
      this.$router.push(`/edit-karil?id=${karilId}`);
    },

    assignReviewer(karilId) {
      this.$router.push(`/assign-reviewer?id=${karilId}`);
    },

    review(karilId) {
      this.$router.push(`/create-review?id=${karilId}`);
    },

    viewReview(karilId, reviewer) {
      this.$router.push(`/detail-review?id=${karilId}&reviewer=${reviewer}`);
    },

    gotoLink(link) {
      window.open(link);
    },
  },

  beforeMount() {
    this.karilId = this.$route.query.id;
    console.log(this.karilId);
    if (localStorage.access) {
      const accessToken = localStorage.access;
      const data = {
        karil_id: this.karilId,
      };
      const config = {
        headers: { Authorization: `Bearer ${accessToken}` },
      };
      Vue.axios
        .post(
          `${process.env.VUE_APP_BACKEND_URL || ""}/api/karil/get-karil-form/`,
          data,
          config,
        )
        .then((res) => {
          console.log(res.data);
          if (res.status === 200) {
            this.karilData = res.data;
          }
        });
      Vue.axios
        .get(
          `${
            process.env.VUE_APP_BACKEND_URL || ""
          }/api/user/get-reviewer-by-karil/${this.karilId}`,
          config,
        )
        .then((res) => {
          console.log("res:");
          console.log(res.data);
          if (res.status === 200) {
            this.reviewers = res.data;
          }
        });
    } else {
      this.$router.push("/");
    }
  },
};
</script>
